openapi: 3.1.0
info:
  title: Email Sending
  version: 2.0.0
  description: |
    Manage sending domains, suppressions, and email sending logs for your Mailtrap account.
  contact:
    name: Mailtrap Support
    url: 'https://docs.mailtrap.io'
    email: support@mailtrap.io
  license:
    name: Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)
    url: 'https://creativecommons.org/licenses/by-sa/4.0/'
  x-logo:
    url: 'https://mailtrap.io/wp-content/uploads/2021/04/mailtrap-logo.svg'

servers:
  - description: Mailtrap API
    url: 'https://mailtrap.io'

security:
  - HeaderAuth: []
  - BearerAuth: []

tags:
  - name: domains
    x-page-title: Sending Domains
    x-page-description: Manage verified sending domains
    description: |
      Configure and verify domains for email sending to ensure deliverability.

  - name: suppressions
    x-page-title: Suppressions
    x-page-description: Manage suppressed email addresses
    description: |
      Control which email addresses should not receive emails from your account.

  - name: stats
    x-page-title: Stats
    x-page-description: Email sending stats
    description: Email sending aggregated stats. The same you see in your Stats dashboard.

  - name: email-logs
    x-page-title: Email Logs
    x-page-description: Email logs
    description: List and retrieve email sending logs for the account.

paths:
  /api/sending_domains:
    post:
      summary: Create sending domain
      description: |
        Create a sending domain for email authentication. After creation, verify the domain by adding DNS records.

        **Process:**
        1. Create the domain
        2. Add DNS records (SPF, DKIM, DMARC)
        3. Verify the records
        4. Start sending emails
      operationId: createSendingDomain
      tags:
        - domains
      x-codeSamples:
        - lang: shell
          label: 'cURL'
          source: |
            curl -X POST https://mailtrap.io/api/sending_domains \
              -H 'Authorization: Bearer YOUR_API_KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "sending_domain": {
                  "domain_name": "example.com"
                }
              }'
        - lang: javascript
          label: Node.js
          source: |
            import { MailtrapClient } from "mailtrap";

            const client = new MailtrapClient({
              token: process.env.MAILTRAP_API_KEY,
              accountId: YOUR_ACCOUNT_ID
            });

            async function createDomain() {
              const domain = await client.sendingDomains.create({
                domain_name: "example.com"
              });

              console.log("Created domain:", domain);
            }

            createDomain();
        - lang: php
          label: PHP
          source: |
            <?php
            use Mailtrap\Config;
            use Mailtrap\Helper\ResponseHelper;
            use Mailtrap\MailtrapSendingClient;

            $config = new Config($_ENV['MAILTRAP_API_KEY']);
            $accountId = $_ENV['MAILTRAP_ACCOUNT_ID'];

            $sendingDomains = (new MailtrapSendingClient($config))
                ->domains($accountId);

            $response = $sendingDomains->createSendingDomain('example.com');
            var_dump(ResponseHelper::toArray($response));
        - lang: python
          label: Python
          source: |
            import mailtrap as mt

            client = mt.MailtrapClient(
                token="YOUR_API_KEY",
                account_id="YOUR_ACCOUNT_ID"
            )

            params = mt.CreateSendingDomainParams(domain_name="example.com")
            domain = client.sending_domains_api.sending_domains.create(params)

            print(f"Created domain: {domain}")
        - lang: ruby
          label: Ruby
          source: |
            require 'mailtrap'

            client = Mailtrap::Client.new(api_key: ENV['MAILTRAP_API_KEY'])
            sending_domains = Mailtrap::SendingDomainsAPI.new(YOUR_ACCOUNT_ID, client)

            domain = sending_domains.create(domain_name: 'example.com')

            puts "Created domain: #{domain.name}"
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;
            using Mailtrap.SendingDomains;
            using Mailtrap.SendingDomains.Requests;

            using var mailtrapFactory = new MailtrapClientFactory("YOUR_API_KEY");
            var client = mailtrapFactory.CreateClient();

            var domainsResource = client.Account(YOUR_ACCOUNT_ID).SendingDomains();

            var createDomainRequest = new CreateSendingDomainRequest("example.com");
            var domain = await domainsResource.Create(createDomainRequest);
            Console.WriteLine($"Created domain: {domain?.DomainName}");
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;
            import io.mailtrap.model.request.sendingdomains.CreateSendingDomainRequest;
            import static io.mailtrap.model.request.sendingdomains.CreateSendingDomainRequest.SendingDomainData;

            var config = new MailtrapConfig.Builder()
                .token("YOUR_API_KEY")
                .build();

            var client = MailtrapClientFactory
                .createMailtrapClient(config);

            var request = new CreateSendingDomainRequest(
                new SendingDomainData("example.com")
            );

            var domain = client.sendingApi().domains()
                .create(YOUR_ACCOUNT_ID, request);

            System.out.println(domain);
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - sending_domain
              properties:
                sending_domain:
                  type: object
                  required:
                    - domain_name
                  properties:
                    domain_name:
                      type: string
                      format: hostname
                      description: Your domain name
                      example: example.com
            example:
              sending_domain:
                domain_name: example.com
      responses:
        '200':
          $ref: '#/components/responses/SendingDomainResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

    get:
      summary: List sending domains
      description: Get all sending domains and their verification status
      operationId: getSendingDomains
      tags:
        - domains
      x-codeSamples:
        - lang: shell
          label: 'cURL'
          source: |
            curl -X GET https://mailtrap.io/api/sending_domains \
              -H 'Authorization: Bearer YOUR_API_KEY'
        - lang: javascript
          label: Node.js
          source: |
            import { MailtrapClient } from "mailtrap";

            const client = new MailtrapClient({
              token: process.env.MAILTRAP_API_KEY,
              accountId: YOUR_ACCOUNT_ID
            });

            async function getDomains() {
              const response = await client.sendingDomains.getList();
              const domains = response.data;

              console.log("Sending domains:", domains);
            }

            getDomains();
        - lang: php
          label: PHP
          source: |
            <?php
            use Mailtrap\Config;
            use Mailtrap\Helper\ResponseHelper;
            use Mailtrap\MailtrapSendingClient;

            $config = new Config($_ENV['MAILTRAP_API_KEY']);
            $accountId = $_ENV['MAILTRAP_ACCOUNT_ID'];

            $sendingDomains = (new MailtrapSendingClient($config))
                ->domains($accountId);

            $response = $sendingDomains->getSendingDomains();
            var_dump(ResponseHelper::toArray($response));
        - lang: python
          label: Python
          source: |
            import mailtrap as mt

            client = mt.MailtrapClient(
                token="YOUR_API_KEY",
                account_id="YOUR_ACCOUNT_ID"
            )

            domains = client.sending_domains_api.sending_domains.get_list()

            for domain in domains:
                print(f"Domain: {domain.domain_name}, Verified: {domain.dns_verified}")
        - lang: ruby
          label: Ruby
          source: |
            require 'mailtrap'

            client = Mailtrap::Client.new(api_key: ENV['MAILTRAP_API_KEY'])
            sending_domains = Mailtrap::SendingDomainsAPI.new(YOUR_ACCOUNT_ID, client)

            sending_domains.list.each do |domain|
              puts "Domain: #{domain.name}"
            end
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;

            using var mailtrapFactory = new MailtrapClientFactory("YOUR_API_KEY");
            var client = mailtrapFactory.CreateClient();

            var domainsResource = client.Account(YOUR_ACCOUNT_ID).SendingDomains();

            var domains = await domainsResource.GetAll();

            foreach (var domain in domains)
            {
                Console.WriteLine($"Domain: {domain.DomainName}, Verified: {domain.DnsVerified}");
            }
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;

            var config = new MailtrapConfig.Builder()
                .token("YOUR_API_KEY")
                .build();

            var client = MailtrapClientFactory
                .createMailtrapClient(config);

            var domains = client.sendingApi().domains()
                .getSendingDomains(YOUR_ACCOUNT_ID);

            domains.forEach(domain ->
                System.out.println("Domain: " + domain.getDomainName())
            );
      responses:
        '200':
          $ref: '#/components/responses/SendingDomainsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/sending_domains/{sending_domain_id}:
    get:
      summary: Get sending domain
      description: Get details and verification status of a specific sending domain
      operationId: getSendingDomain
      tags:
        - domains
      x-codeSamples:
        - lang: shell
          label: 'cURL'
          source: |
            curl -X GET https://mailtrap.io/api/sending_domains/{sending_domain_id} \
              -H 'Authorization: Bearer YOUR_API_KEY'
        - lang: javascript
          label: Node.js
          source: |
            import { MailtrapClient } from "mailtrap";

            const client = new MailtrapClient({
              token: process.env.MAILTRAP_API_KEY,
              accountId: YOUR_ACCOUNT_ID
            });

            async function getDomain() {
              const domainId = 12345;
              const domain = await client.sendingDomains.get(domainId);

              console.log("Domain details:", domain);
            }

            getDomain();
        - lang: php
          label: PHP
          source: |
            <?php
            use Mailtrap\Config;
            use Mailtrap\Helper\ResponseHelper;
            use Mailtrap\MailtrapSendingClient;

            $config = new Config($_ENV['MAILTRAP_API_KEY']);
            $accountId = $_ENV['MAILTRAP_ACCOUNT_ID'];

            $sendingDomains = (new MailtrapSendingClient($config))
                ->domains($accountId);

            $domainId = $_ENV['MAILTRAP_DOMAIN_ID'];
            $response = $sendingDomains->getDomainById($domainId);
            var_dump(ResponseHelper::toArray($response));
        - lang: python
          label: Python
          source: |
            import mailtrap as mt

            client = mt.MailtrapClient(
                token="YOUR_API_KEY",
                account_id="YOUR_ACCOUNT_ID"
            )

            domain_id = 12345
            domain = client.sending_domains_api.sending_domains.get_by_id(domain_id)

            print(f"Domain: {domain.domain_name}")
            print(f"DNS Verified: {domain.dns_verified}")
        - lang: ruby
          label: Ruby
          source: |
            require 'mailtrap'

            client = Mailtrap::Client.new(api_key: ENV['MAILTRAP_API_KEY'])
            sending_domains = Mailtrap::SendingDomainsAPI.new(YOUR_ACCOUNT_ID, client)

            domain = sending_domains.get(DOMAIN_ID)

            puts "Domain: #{domain.name}"
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;

            using var mailtrapFactory = new MailtrapClientFactory("YOUR_API_KEY");
            var client = mailtrapFactory.CreateClient();

            var domainId = 12345;
            var domainResource = client.Account(YOUR_ACCOUNT_ID).SendingDomain(domainId);
            var domain = await domainResource.GetDetails();

            Console.WriteLine($"Domain: {domain.DomainName}");
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;

            var config = new MailtrapConfig.Builder()
                .token("YOUR_API_KEY")
                .build();

            var client = MailtrapClientFactory
                .createMailtrapClient(config);

            long domainId = 12345L;
            var domain = client.sendingApi().domains()
                .getSendingDomain(YOUR_ACCOUNT_ID, domainId);

            System.out.println("Domain: " + domain.getDomainName());
      parameters:
        - $ref: '#/components/parameters/sending_domain_id'
      responses:
        '200':
          $ref: '#/components/responses/SendingDomainResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      summary: Delete sending domain
      description: Remove a sending domain from your account
      operationId: deleteSendingDomain
      tags:
        - domains
      x-codeSamples:
        - lang: shell
          label: 'cURL'
          source: |
            curl -X DELETE https://mailtrap.io/api/sending_domains/{sending_domain_id} \
              -H 'Authorization: Bearer YOUR_API_KEY'
        - lang: javascript
          label: Node.js
          source: |
            import { MailtrapClient } from "mailtrap";

            const client = new MailtrapClient({
              token: process.env.MAILTRAP_API_KEY,
              accountId: YOUR_ACCOUNT_ID
            });

            async function deleteDomain() {
              const domainId = 12345;
              await client.sendingDomains.delete(domainId);

              console.log("Domain deleted successfully");
            }

            deleteDomain();
        - lang: php
          label: PHP
          source: |
            <?php
            use Mailtrap\Config;
            use Mailtrap\MailtrapSendingClient;

            $config = new Config($_ENV['MAILTRAP_API_KEY']);
            $accountId = $_ENV['MAILTRAP_ACCOUNT_ID'];

            $sendingDomains = (new MailtrapSendingClient($config))
                ->domains($accountId);

            $domainId = $_ENV['MAILTRAP_DOMAIN_ID'];
            $response = $sendingDomains->deleteSendingDomain($domainId);
            var_dump($response->getStatusCode());
        - lang: python
          label: Python
          source: |
            import mailtrap as mt

            client = mt.MailtrapClient(
                token="YOUR_API_KEY",
                account_id="YOUR_ACCOUNT_ID"
            )

            domain_id = 12345
            client.sending_domains_api.sending_domains.delete(domain_id)

            print("Domain deleted successfully")
        - lang: ruby
          label: Ruby
          source: |
            require 'mailtrap'

            client = Mailtrap::Client.new(api_key: ENV['MAILTRAP_API_KEY'])
            sending_domains = Mailtrap::SendingDomainsAPI.new(YOUR_ACCOUNT_ID, client)

            sending_domains.delete(DOMAIN_ID)
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;

            using var mailtrapFactory = new MailtrapClientFactory("YOUR_API_KEY");
            var client = mailtrapFactory.CreateClient();

            var domainId = 12345;
            var domainResource = client.Account(YOUR_ACCOUNT_ID).SendingDomain(domainId);
            await domainResource.Delete();

            Console.WriteLine("Domain deleted successfully");
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;

            var config = new MailtrapConfig.Builder()
                .token("YOUR_API_KEY")
                .build();

            var client = MailtrapClientFactory
                .createMailtrapClient(config);

            long domainId = 12345L;
            client.sendingApi().domains()
                .deleteSendingDomain(YOUR_ACCOUNT_ID, domainId);

            System.out.println("Domain deleted successfully");
      parameters:
        - $ref: '#/components/parameters/sending_domain_id'
      responses:
        '204':
          description: Domain successfully deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      summary: Update sending domain
      description: |
        Update configuration settings for a sending domain.
      operationId: updateSendingDomain
      tags:
        - domains
      x-codeSamples:
        - lang: shell
          label: 'cURL'
          source: |
            curl -X PATCH https://mailtrap.io/api/sending_domains/{sending_domain_id} \
              -H 'Authorization: Bearer YOUR_API_KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "sending_domain": {
                  "open_tracking_enabled": true,
                  "click_tracking_enabled": true,
                  "auto_unsubscribe_link_enabled": false
                }
              }'
      parameters:
        - $ref: '#/components/parameters/sending_domain_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - sending_domain
              properties:
                sending_domain:
                  $ref: '#/components/schemas/UpdateSendingDomainRequest'
            example:
              sending_domain:
                open_tracking_enabled: true
                click_tracking_enabled: true
                auto_unsubscribe_link_enabled: false
      responses:
        '200':
          $ref: '#/components/responses/SendingDomainResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /api/sending_domains/{sending_domain_id}/send_setup_instructions:
    post:
      summary: Send setup instructions
      description: Email DNS configuration instructions for the sending domain
      operationId: sendSendingDomainSetupInstructions
      tags:
        - domains
      x-codeSamples:
        - lang: shell
          label: 'cURL'
          source: |
            curl -X POST https://mailtrap.io/api/sending_domains/{sending_domain_id}/send_setup_instructions \
              -H 'Authorization: Bearer YOUR_API_KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "email": "devops@example.com"
              }'
        - lang: javascript
          label: Node.js
          source: |
            import { MailtrapClient } from "mailtrap";

            const client = new MailtrapClient({
              token: process.env.MAILTRAP_API_KEY,
              accountId: YOUR_ACCOUNT_ID
            });

            async function sendInstructions() {
              const domainId = 12345;
              await client.sendingDomains.sendSetupInstructions(
                domainId,
                "devops@example.com"
              );

              console.log("Setup instructions sent");
            }

            sendInstructions();
        - lang: php
          label: PHP
          source: |
            <?php
            use Mailtrap\Config;
            use Mailtrap\MailtrapSendingClient;

            $config = new Config($_ENV['MAILTRAP_API_KEY']);
            $accountId = $_ENV['MAILTRAP_ACCOUNT_ID'];

            $sendingDomains = (new MailtrapSendingClient($config))
                ->domains($accountId);

            $domainId = $_ENV['MAILTRAP_DOMAIN_ID'];
            $email = 'devops@example.com';

            $response = $sendingDomains->sendDomainSetupInstructions(
                $domainId,
                $email
            );
            var_dump($response->getStatusCode());
        - lang: python
          label: Python
          source: |
            import mailtrap as mt

            client = mt.MailtrapClient(
                token="YOUR_API_KEY",
                account_id="YOUR_ACCOUNT_ID"
            )

            domain_id = 12345
            params = mt.SendSetupInstructionsParams(email="devops@example.com")
            client.sending_domains_api.sending_domains.send_setup_instructions(
                domain_id, params
            )

            print("Setup instructions sent")
        - lang: ruby
          label: Ruby
          source: |
            require 'mailtrap'

            client = Mailtrap::Client.new(api_key: ENV['MAILTRAP_API_KEY'])
            sending_domains = Mailtrap::SendingDomainsAPI.new(YOUR_ACCOUNT_ID, client)

            sending_domains.send_setup_instructions(DOMAIN_ID, email: 'devops@example.com')
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;
            using Mailtrap.SendingDomains.Requests;

            using var mailtrapFactory = new MailtrapClientFactory("YOUR_API_KEY");
            var client = mailtrapFactory.CreateClient();

            var domainId = 12345;
            var domainResource = client.Account(YOUR_ACCOUNT_ID).SendingDomain(domainId);

            var request = new SendingDomainInstructionsRequest("devops@example.com");
            await domainResource.SendInstructions(request);

            Console.WriteLine("Setup instructions sent");
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;
            import io.mailtrap.model.request.sendingdomains.SendingDomainsSetupInstructionsRequest;

            var config = new MailtrapConfig.Builder()
                .token("YOUR_API_KEY")
                .build();

            var client = MailtrapClientFactory
                .createMailtrapClient(config);

            long domainId = 12345L;
            var request = new SendingDomainsSetupInstructionsRequest(
                "devops@example.com"
            );

            client.sendingApi().domains()
                .sendSendingDomainsSetupInstructions(
                    YOUR_ACCOUNT_ID,
                    domainId,
                    request
                );

            System.out.println("Setup instructions sent");
      parameters:
        - $ref: '#/components/parameters/sending_domain_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                  description: Email address to receive setup instructions
            example:
              email: devops@example.com
      responses:
        '204':
          description: Instructions sent successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /api/sending_domains/{sending_domain_id}/company_info:
    get:
      summary: Get company info
      description: |
        Get company information associated with a sending domain / account.
      operationId: getSendingDomainCompanyInfo
      tags:
        - domains
      x-codeSamples:
        - lang: shell
          label: 'cURL'
          source: |
            curl -X GET https://mailtrap.io/api/sending_domains/{sending_domain_id}/company_info \
              -H 'Authorization: Bearer YOUR_API_KEY'
      parameters:
        - $ref: '#/components/parameters/sending_domain_id'
      responses:
        '200':
          $ref: '#/components/responses/CompanyInfoResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      summary: Create company info
      description: |
        Create company information for a sending domain / account.
        Company info is required for domain compliance verification.
      operationId: createSendingDomainCompanyInfo
      tags:
        - domains
      x-codeSamples:
        - lang: shell
          label: 'cURL'
          source: |
            curl -X POST https://mailtrap.io/api/sending_domains/{sending_domain_id}/company_info \
              -H 'Authorization: Bearer YOUR_API_KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "company_info": {
                  "name": "Mailtrap",
                  "address": "123 Main St",
                  "city": "San Francisco",
                  "country": "US",
                  "zip_code": "94105",
                  "phone": "+1-555-0100",
                  "website_url": "https://mailtrap.io",
                  "privacy_policy_url": "https://mailtrap.io/privacy",
                  "terms_of_service_url": "https://mailtrap.io/terms",
                  "info_level": "business"
                }
              }'
      parameters:
        - $ref: '#/components/parameters/sending_domain_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - company_info
              properties:
                company_info:
                  $ref: '#/components/schemas/CompanyInfoRequest'
            example:
              company_info:
                name: Mailtrap
                address: 123 Main St
                city: San Francisco
                country: US
                zip_code: '94105'
                phone: '+1-555-0100'
                website_url: 'https://mailtrap.io'
                privacy_policy_url: 'https://mailtrap.io/privacy'
                terms_of_service_url: 'https://mailtrap.io/terms'
                info_level: business
      responses:
        '200':
          $ref: '#/components/responses/CompanyInfoResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

    patch:
      summary: Update company info
      description: |
        Update company information for a sending domain / account. All fields are optional;
        only the fields provided in the request will be updated.
      operationId: updateSendingDomainCompanyInfo
      tags:
        - domains
      x-codeSamples:
        - lang: shell
          label: 'cURL'
          source: |
            curl -X PATCH https://mailtrap.io/api/sending_domains/{sending_domain_id}/company_info \
              -H 'Authorization: Bearer YOUR_API_KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "company_info": {
                  "city": "New York",
                  "zip_code": "10001"
                }
              }'
      parameters:
        - $ref: '#/components/parameters/sending_domain_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - company_info
              properties:
                company_info:
                  $ref: '#/components/schemas/CompanyInfoUpdateRequest'
            example:
              company_info:
                city: New York
                zip_code: '10001'
      responses:
        '200':
          $ref: '#/components/responses/CompanyInfoResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /api/suppressions:
    get:
      summary: List suppressions
      description: |
        List and search suppressed email addresses. Returns up to 1000 suppressions per request. Use `last_id` for cursor-based pagination through large lists.

        Suppressed addresses will not receive any emails from your account.

        Rate limit: 10 requests per minute per account.
      operationId: getSuppressions
      tags:
        - suppressions
      x-codeSamples:
        - lang: shell
          label: 'cURL'
          source: |
            # Get all suppressions
            curl -X GET https://mailtrap.io/api/suppressions \
              -H 'Authorization: Bearer YOUR_API_KEY'

            # Search for specific email
            curl -X GET 'https://mailtrap.io/api/suppressions?email=suppressed@example.com' \
              -H 'Authorization: Bearer YOUR_API_KEY'
        - lang: javascript
          label: Node.js
          source: |
            import { MailtrapClient } from "mailtrap";

            const client = new MailtrapClient({
              token: process.env.MAILTRAP_API_KEY,
              accountId: YOUR_ACCOUNT_ID
            });

            async function getSuppressions() {
              // Get all suppressions
              const suppressions = await client.suppressions.getList();

              // Or search for specific email
              const filtered = await client.suppressions.getList({
                email: "suppressed@example.com"
              });

              console.log("Suppressions:", suppressions);
            }

            getSuppressions();
        - lang: php
          label: PHP
          source: |
            <?php

            use Mailtrap\Config;
            use Mailtrap\Helper\ResponseHelper;
            use Mailtrap\MailtrapSendingClient;

            $config = new Config($_ENV['MAILTRAP_API_KEY']);
            $accountId = $_ENV['MAILTRAP_ACCOUNT_ID'];

            $suppressions = (new MailtrapSendingClient($config))
                ->suppressions($accountId);

            // Get all suppressions
            $response = $suppressions->getSuppressions();

            // Or search for specific email
            $response = $suppressions->getSuppressions('suppressed@example.com');

            var_dump(ResponseHelper::toArray($response));
        - lang: python
          label: Python
          source: |
            import mailtrap as mt

            client = mt.MailtrapClient(
                token="YOUR_API_KEY",
                account_id="YOUR_ACCOUNT_ID"
            )

            # Get all suppressions
            suppressions = client.suppressions_api.suppressions.get_list()

            # Or search for specific email
            filtered = client.suppressions_api.suppressions.get_list("suppressed@example.com")

            for suppression in suppressions:
                print(f"Email: {suppression.email}, Type: {suppression.type}")
        - lang: ruby
          label: Ruby
          source: |
            require 'mailtrap'

            client = Mailtrap::Client.new(api_key: 'YOUR_API_KEY')
            suppressions = Mailtrap::SuppressionsAPI.new(
              YOUR_ACCOUNT_ID,
              client
            )

            # Get all suppressions
            all_suppressions = suppressions.list

            # Or search for specific email
            filtered = suppressions.list(email: 'suppressed@example.com')

            all_suppressions.each do |suppression|
              puts "Email: #{suppression.email}"
            end
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;
            using Mailtrap.Suppressions.Models;

            using var mailtrapFactory = new MailtrapClientFactory("YOUR_API_KEY");
            var client = mailtrapFactory.CreateClient();

            var suppressionsResource = client.Account(YOUR_ACCOUNT_ID).Suppressions();

            // Get all suppressions
            var suppressions = await suppressionsResource.Fetch();

            // Or search for specific email
            var filter = new SuppressionFilter
            {
                Email = "suppressed@example.com"
            };
            var filtered = await suppressionsResource.Fetch(filter);

            foreach (var suppression in suppressions)
            {
                Console.WriteLine($"Email: {suppression.Email}");
            }
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;

            var config = new MailtrapConfig.Builder()
                .token("YOUR_API_KEY")
                .build();

            var client = MailtrapClientFactory
                .createMailtrapClient(config);

            // Get all suppressions
            var suppressions = client.sendingApi().suppressions()
                .search(YOUR_ACCOUNT_ID, null);

            // Or search for specific email
            var filtered = client.sendingApi().suppressions()
                .search(YOUR_ACCOUNT_ID, "suppressed@example.com");

            suppressions.forEach(suppression ->
                System.out.println("Email: " + suppression.getEmail())
            );
            filtered.forEach(filteredSuppression ->
                System.out.println("Email: " + filteredSuppression.getEmail())
            );
      parameters:
        - name: email
          in: query
          description: Filter suppressions by exact email address (case-insensitive).
          schema:
            type: string
            format: email
            example: suppressed@example.com
        - name: start_time
          in: query
          description: Filter suppressions created at or after this timestamp (ISO 8601 format).
          schema:
            type: string
            format: date-time
            example: '2025-01-01T00:00:00Z'
        - name: end_time
          in: query
          description: Filter suppressions created at or before this timestamp (ISO 8601 format).
          schema:
            type: string
            format: date-time
            example: '2025-12-31T23:59:59Z'
        - name: last_id
          in: query
          description: The suppression UUID from the last record of the previous response. Returns records after this suppression, enabling cursor-based pagination through large lists.
          schema:
            type: string
            format: uuid
            example: 64d71bf3-1276-417b-86e1-8e66f138acfe
      responses:
        '200':
          $ref: '#/components/responses/GetSuppressionsResponse'
        '400':
          $ref: '#/components/responses/BAD_REQUEST'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/LIMIT_EXCEEDED'
    post:
      summary: Create suppression
      description: |
        Add an email address to the suppression list. Suppressed addresses will not receive any emails from your account.

        {% hint style="warning" %}
        This endpoint requires admin-level access.
        {% endhint %}

        Rate limit: 10 requests per minute per account.
      operationId: createSuppression
      tags:
        - suppressions
      x-codeSamples:
        - lang: shell
          label: 'cURL'
          source: |
            curl -X POST https://mailtrap.io/api/suppressions \
              -H 'Authorization: Bearer YOUR_API_KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "email": "user@example.com",
                "domain_id": 12345,
                "sending_stream": "transactional",
                "reason": "manual import"
              }'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, domain_id, sending_stream]
              properties:
                email:
                  type: string
                  format: email
                  description: Email address to suppress
                  example: user@example.com
                domain_id:
                  type: integer
                  description: ID of the sending domain to suppress this email for
                  example: 12345
                sending_stream:
                  type: string
                  enum: [transactional, bulk]
                  description: The sending stream to suppress this email for
                  example: transactional
                reason:
                  type: string
                  enum: [hard bounce, unsubscription, spam complaint, manual import]
                  default: manual import
                  description: Reason for the suppression. Defaults to "manual import" if omitted.
                  example: manual import
      responses:
        '201':
          $ref: '#/components/responses/CreateSuppressionResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/LIMIT_EXCEEDED'
  /api/suppressions/{suppression_id}:
    delete:
      summary: Delete suppression
      description: |
        Remove an email from the suppression list to allow sending again.

        {% hint style="warning" %}
        This endpoint requires admin-level access.
        {% endhint %}
      operationId: deleteSuppression
      tags:
        - suppressions
      x-codeSamples:
        - lang: shell
          label: 'cURL'
          source: |
            curl -X DELETE https://mailtrap.io/api/suppressions/{suppression_id} \
              -H 'Authorization: Bearer YOUR_API_KEY'
        - lang: javascript
          label: Node.js
          source: |
            import { MailtrapClient } from "mailtrap";

            const client = new MailtrapClient({
              token: process.env.MAILTRAP_API_KEY,
              accountId: YOUR_ACCOUNT_ID
            });

            async function deleteSuppression() {
              const suppressionId = "abc123-def456";
              const result = await client.suppressions.delete(suppressionId);

              console.log("Suppression removed:", result);
            }

            deleteSuppression();
        - lang: php
          label: PHP
          source: |
            <?php
            use Mailtrap\Config;
            use Mailtrap\MailtrapSendingClient;

            $config = new Config($_ENV['MAILTRAP_API_KEY']);
            $accountId = $_ENV['MAILTRAP_ACCOUNT_ID'];

            $suppressions = (new MailtrapSendingClient($config))
                ->suppressions($accountId);

            $suppressionId = 'abc123-def456';
            $response = $suppressions->deleteSuppression($suppressionId);
            var_dump($response->getStatusCode());
        - lang: python
          label: Python
          source: |
            import mailtrap as mt

            client = mt.MailtrapClient(
                token="YOUR_API_KEY",
                account_id="YOUR_ACCOUNT_ID"
            )

            suppression_id = "abc123-def456"
            deleted = client.suppressions_api.suppressions.delete(suppression_id)

            print(f"Suppression removed: {deleted.email}")
        - lang: ruby
          label: Ruby
          source: |
            require 'mailtrap'

            client = Mailtrap::Client.new(api_key: 'YOUR_API_KEY')
            suppressions = Mailtrap::SuppressionsAPI.new(
              YOUR_ACCOUNT_ID,
              client
            )

            suppression_id = 'abc123-def456'
            result = suppressions.delete(suppression_id)

            puts "Suppression removed: #{result.email}"
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;

            using var mailtrapFactory = new MailtrapClientFactory("YOUR_API_KEY");
            var client = mailtrapFactory.CreateClient();

            var suppressionId = "abc123-def456";
            var suppressionResource = client.Account(YOUR_ACCOUNT_ID).Suppression(suppressionId);

            var result = await suppressionResource.Delete();

            Console.WriteLine($"Suppression removed: {result.Email}");
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;

            var config = new MailtrapConfig.Builder()
                .token("YOUR_API_KEY")
                .build();

            var client = MailtrapClientFactory
                .createMailtrapClient(config);

            String suppressionId = "abc123-def456";
            var result = client.sendingApi().suppressions()
                .deleteSuppression(YOUR_ACCOUNT_ID, suppressionId);

            System.out.println("Suppression removed: " + result.getEmail());
      parameters:
        - $ref: '#/components/parameters/suppression_id'
      responses:
        '200':
          $ref: '#/components/responses/DeleteSuppressionResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  '/api/stats':
    get:
      operationId: getAccountSendingStats
      summary: Get Sending Stats
      description: Get account sending stats. Use filters to get specific stats.
      tags:
        - stats
      x-codeSamples:
        - lang: shell
          label: 'cURL'
          source: |
            curl -X GET 'https://mailtrap.io/api/stats?start_date=2025-01-01&end_date=2025-12-31' \
              -H 'Authorization: Bearer YOUR_API_KEY'
        - lang: ruby
          label: Ruby
          source: |
            require 'mailtrap'

            client = Mailtrap::Client.new(api_key: ENV['MAILTRAP_API_KEY'])
            stats = Mailtrap::StatsAPI.new(YOUR_ACCOUNT_ID, client)

            puts "Stats: #{stats.get(start_date: '2026-01-01', end_date: '2026-01-31')}"
      parameters:
        - $ref: '#/components/parameters/StartDateQueryFilter'
        - $ref: '#/components/parameters/EndDateQueryFilter'
        - $ref: '#/components/parameters/SendingDomainIDsQueryFilter'
        - $ref: '#/components/parameters/SendingStreamsQueryFilter'
        - $ref: '#/components/parameters/CategoriesQueryFilter'
        - $ref: '#/components/parameters/ESPsQueryFilter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendingStats'
        '400':
          $ref: '#/components/responses/BAD_REQUEST'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/LIMIT_EXCEEDED'
  '/api/stats/domains':
    get:
      operationId: getAccountSendingStatsByDomains
      summary: Get Sending Stats by Domains
      description: Get account sending stats by domains. Use filters to get specific stats.
      tags:
        - stats
      x-codeSamples:
        - lang: shell
          label: 'cURL'
          source: |
            curl -X GET 'https://mailtrap.io/api/stats/domains?start_date=2025-01-01&end_date=2025-12-31' \
              -H 'Authorization: Bearer YOUR_API_KEY'
        - lang: ruby
          label: Ruby
          source: |
            require 'mailtrap'

            client = Mailtrap::Client.new(api_key: ENV['MAILTRAP_API_KEY'])
            stats = Mailtrap::StatsAPI.new(YOUR_ACCOUNT_ID, client)

            puts "Stats: #{stats.by_domain(start_date: '2026-01-01', end_date: '2026-01-31')}"
      parameters:
        - $ref: '#/components/parameters/StartDateQueryFilter'
        - $ref: '#/components/parameters/EndDateQueryFilter'
        - $ref: '#/components/parameters/SendingDomainIDsQueryFilter'
        - $ref: '#/components/parameters/SendingStreamsQueryFilter'
        - $ref: '#/components/parameters/CategoriesQueryFilter'
        - $ref: '#/components/parameters/ESPsQueryFilter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    sending_domain_id:
                      type: integer
                      format: int64
                      example: 3938
                    stats:
                      $ref: '#/components/schemas/SendingStats'
        '400':
          $ref: '#/components/responses/BAD_REQUEST'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/LIMIT_EXCEEDED'
  '/api/stats/categories':
    get:
      operationId: getAccountSendingStatsByCategories
      summary: Get Sending Stats by Categories
      description: Get account sending stats by categories. Use filters to get specific stats.
      tags:
        - stats
      x-codeSamples:
        - lang: shell
          label: 'cURL'
          source: |
            curl -X GET 'https://mailtrap.io/api/stats/categories?start_date=2025-01-01&end_date=2025-12-31' \
              -H 'Authorization: Bearer YOUR_API_KEY'
        - lang: ruby
          label: Ruby
          source: |
            require 'mailtrap'

            client = Mailtrap::Client.new(api_key: ENV['MAILTRAP_API_KEY'])
            stats = Mailtrap::StatsAPI.new(YOUR_ACCOUNT_ID, client)

            puts "Stats: #{stats.by_category(start_date: '2026-01-01', end_date: '2026-01-31')}"
      parameters:
        - $ref: '#/components/parameters/StartDateQueryFilter'
        - $ref: '#/components/parameters/EndDateQueryFilter'
        - $ref: '#/components/parameters/SendingDomainIDsQueryFilter'
        - $ref: '#/components/parameters/SendingStreamsQueryFilter'
        - $ref: '#/components/parameters/CategoriesQueryFilter'
        - $ref: '#/components/parameters/ESPsQueryFilter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    category:
                      type: string
                      example: Welcome Email
                    stats:
                      $ref: '#/components/schemas/SendingStats'
        '400':
          $ref: '#/components/responses/BAD_REQUEST'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/LIMIT_EXCEEDED'
  '/api/stats/email_service_providers':
    get:
      operationId: getAccountSendingStatsByEmailServiceProviders
      summary: Get Sending Stats by Email Service Providers
      description: Get account sending stats by email service providers. Use filters to get specific stats.
      tags:
        - stats
      x-codeSamples:
        - lang: shell
          label: 'cURL'
          source: |
            curl -X GET 'https://mailtrap.io/api/stats/email_service_providers?start_date=2025-01-01&end_date=2025-12-31' \
              -H 'Authorization: Bearer YOUR_API_KEY'
        - lang: ruby
          label: Ruby
          source: |
            require 'mailtrap'

            client = Mailtrap::Client.new(api_key: ENV['MAILTRAP_API_KEY'])
            stats = Mailtrap::StatsAPI.new(YOUR_ACCOUNT_ID, client)

            puts "Stats: #{stats.by_email_service_provider(start_date: '2026-01-01', end_date: '2026-01-31')}"
      parameters:
        - $ref: '#/components/parameters/StartDateQueryFilter'
        - $ref: '#/components/parameters/EndDateQueryFilter'
        - $ref: '#/components/parameters/SendingDomainIDsQueryFilter'
        - $ref: '#/components/parameters/SendingStreamsQueryFilter'
        - $ref: '#/components/parameters/CategoriesQueryFilter'
        - $ref: '#/components/parameters/ESPsQueryFilter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    email_service_provider:
                      type: string
                      example: Google
                    stats:
                      $ref: '#/components/schemas/SendingStats'
        '400':
          $ref: '#/components/responses/BAD_REQUEST'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/LIMIT_EXCEEDED'
  '/api/stats/date':
    get:
      operationId: getAccountSendingStatsByDate
      summary: Get Sending Stats by Date
      description: Get account sending stats by date. Use filters to get specific stats.
      tags:
        - stats
      x-codeSamples:
        - lang: shell
          label: 'cURL'
          source: |
            curl -X GET 'https://mailtrap.io/api/stats/date?start_date=2025-01-01&end_date=2025-12-31' \
              -H 'Authorization: Bearer YOUR_API_KEY'
        - lang: ruby
          label: Ruby
          source: |
            require 'mailtrap'

            client = Mailtrap::Client.new(api_key: ENV['MAILTRAP_API_KEY'])
            stats = Mailtrap::StatsAPI.new(YOUR_ACCOUNT_ID, client)

            puts "Stats: #{stats.by_date(start_date: '2026-01-01', end_date: '2026-01-31')}"
      parameters:
        - $ref: '#/components/parameters/StartDateQueryFilter'
        - $ref: '#/components/parameters/EndDateQueryFilter'
        - $ref: '#/components/parameters/SendingDomainIDsQueryFilter'
        - $ref: '#/components/parameters/SendingStreamsQueryFilter'
        - $ref: '#/components/parameters/CategoriesQueryFilter'
        - $ref: '#/components/parameters/ESPsQueryFilter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    date:
                      type: string
                      format: date
                      example: '2025-01-01'
                    stats:
                      $ref: '#/components/schemas/SendingStats'
        '400':
          $ref: '#/components/responses/BAD_REQUEST'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/LIMIT_EXCEEDED'

  /api/email_logs:
    get:
      operationId: listEmailLogs
      summary: List email logs
      description: |
        Returns a paginated list of email logs (messages) for the account.
        Results are restricted to sending domains the authenticated token has access to.
        Invalid or unknown filters are ignored. Results are ordered by sent_at descending.
      tags:
        - email-logs
      x-codeSamples:
        - lang: shell
          label: 'cURL'
          source: |
            curl -X GET -g 'https://mailtrap.io/api/email_logs?filters[sent_after]=2025-01-01T00:00:00Z&filters[sent_before]=2025-01-31T23:59:59Z&filters[to][operator]=ci_equal&filters[to][value]=recipient@example.com&filters[sending_domain_id][operator]=equal&filters[sending_domain_id][value][]=3938&filters[sending_domain_id][value][]=3939' \
              -H 'Authorization: Bearer YOUR_API_KEY'
      parameters:
        - name: search_after
          in: query
          description: Cursor for the next page (message_id UUID from previous response next_page_cursor).
          schema:
            type: string
            format: uuid
        - name: filters
          in: query
          description: |
            Filter criteria (deep object). Pass as `filters[field][operator]` and `filters[field][value]`.
            When a filter accepts an array value, use bracket notation: `filters[field][value][]=item1&filters[field][value][]=item2`.
            Date range: use `filters[sent_after]` and `filters[sent_before]` (ISO 8601 strings).
            Unknown filters are ignored.
          style: deepObject
          explode: true
          schema:
            $ref: '#/components/schemas/EmailLogsListFilters'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailLogsListResponse'
        '400':
          $ref: '#/components/responses/BAD_REQUEST'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/LIMIT_EXCEEDED'
  /api/email_logs/{sending_message_id}:
    get:
      operationId: getEmailLogMessage
      summary: Get an email log message by ID
      description: Returns a single message by message UUID. Message must belong to the account and a sending domain the token can access.
      tags:
        - email-logs
      x-codeSamples:
        - lang: shell
          label: 'cURL'
          source: |
            curl -X GET 'https://mailtrap.io/api/email_logs/{sending_message_id}' \
              -H 'Authorization: Bearer YOUR_API_KEY'
      parameters:
        - $ref: '#/components/parameters/sending_message_id'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendingMessage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/LIMIT_EXCEEDED'

components:
  securitySchemes:
    HeaderAuth:
      type: apiKey
      description: API token in Api-Token header
      in: header
      name: Api-Token
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token authentication

  parameters:
    sending_domain_id:
      name: sending_domain_id
      in: path
      required: true
      description: Sending domain ID
      schema:
        type: integer
        example: 1

    suppression_id:
      name: suppression_id
      in: path
      required: true
      description: The suppression UUID
      schema:
        type: string
        format: uuid
        example: 64d71bf3-1276-417b-86e1-8e66f138acfe

    sending_message_id:
      name: sending_message_id
      in: path
      required: true
      description: Message UUID
      schema:
        type: string
        format: uuid

    StartDateQueryFilter:
      name: start_date
      description: Start date for which to include the results.
      in: query
      required: true
      schema:
        type: string
        format: date
        example: '2025-01-01'
    EndDateQueryFilter:
      name: end_date
      description: End date for which to include the results.
      in: query
      required: true
      schema:
        type: string
        format: date
        example: '2025-12-31'
    SendingDomainIDsQueryFilter:
      name: 'sending_domain_ids[]'
      description: 'IDs of the sending domains for which to include the results. If not provided, results for all sending domains will be included.'
      in: query
      schema:
        type: array
        items:
          type: integer
          format: int64
        example:
          - 3938
          - 3939
    SendingStreamsQueryFilter:
      name: 'sending_streams[]'
      description: 'Sending streams for which to include the results. If not provided, results for all sending streams will be included.'
      in: query
      schema:
        type: array
        items:
          type: string
          enum:
            - transactional
            - bulk
        example:
          - transactional
          - bulk
    CategoriesQueryFilter:
      name: 'categories[]'
      description: 'Categories for which to include the results. If not provided, results for all categories will be included.'
      in: query
      schema:
        type: array
        items:
          type: string
        example:
          - Welcome Email
          - Password Reset
    ESPsQueryFilter:
      name: 'email_service_providers[]'
      description: 'Email service providers for which to include the results. If not provided, results for all ESPs will be included.'
      in: query
      schema:
        type: array
        items:
          type: string
          enum:
            - Google
            - Yahoo
            - Outlook
            - Hey
            - Google Workspace
            - Zoho Email
            - ProtonMail
            - Yandex
            - iCloud
            - Office 365
            - Amazon SES (Simple Email Service)
            - Proofpoint Email Protection
            - Mimecast Email Protection
            - GMX.net
            - Rackspace
            - OVH hosted
            - Linode hosted
            - GoDaddy
            - Symantec Email Protection
            - Barracuda Email Protection
            - Cisco Email Protection
            - FastMail
            - Naver
            - Seznam
            - Comcast
            - Spectrum
        example:
          - Google
          - Yahoo

  schemas:
    SendingDomain:
      type: object
      properties:
        id:
          type: integer
        domain_name:
          type: string
        demo:
          type: boolean
        compliance_status:
          type: string
          description: |
            Indicates the compliance verification status of the sending domain.
            The domain must reach `compliant` status before you can send emails
            in production.

            - `demo` - A demo domain provided by Mailtrap. Can only send emails to the account owner.
            - `demo_exhausted` - A demo domain that has used up its sending allowance. Cannot send emails.
            - `unverified_dns` - Domain DNS records have not been verified yet. Open your domain on the [Sending Domains](https://mailtrap.io/domains) page and follow the [Sending Domain Setup](https://docs.mailtrap.io/email-api-smtp/setup/sending-domain) guide.
            - `missing_company_info` - Account is missing required company information. Go to [Company Information](https://mailtrap.io/settings/account?current_tab=company_information) and fill in the required details.
            - `under_review` - Domain is undergoing automatic compliance review. No action needed — typically completes within 2 minutes.
            - `awaiting_questionnaire` - Automatic review required additional information. Open your domain on the [Sending Domains](https://mailtrap.io/domains) page and fill in the compliance questionnaire.
            - `awaiting_card_verification` - Compliance questionnaire was submitted but credit card identity verification is still needed. Open your domain on the [Sending Domains](https://mailtrap.io/domains) page and enter card details. The charged amount is refunded immediately and the card is not stored.
            - `non_compliant` - Domain did not pass compliance checks. Sending is not allowed. Contact [Mailtrap Support](mailto:support@mailtrap.io) for details and next steps.
            - `compliant` - Domain has passed all compliance checks and is ready to send emails.
            - `suspended` - Domain sending has been suspended. Contact [Mailtrap Support](mailto:support@mailtrap.io) to resolve the issue.
          enum:
            - demo
            - demo_exhausted
            - unverified_dns
            - missing_company_info
            - under_review
            - awaiting_questionnaire
            - awaiting_card_verification
            - non_compliant
            - compliant
            - suspended
        dns_verified:
          type: boolean
        dns_verified_at:
          type:
            - string
            - 'null'
          example: '2024-12-26T09:40:44.161Z'
        dns_records:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              domain:
                type: string
              name:
                type: string
              status:
                type: string
                enum:
                  - pass
                  - fail
                  - unchecked
                  - missing
                  - softfail
                  - network_error
              type:
                type: string
              value:
                type: string
        open_tracking_enabled:
          type: boolean
        click_tracking_enabled:
          type: boolean
        auto_unsubscribe_link_enabled:
          type: boolean
        custom_domain_tracking_enabled:
          type: boolean
        health_alerts_enabled:
          type: boolean
        critical_alerts_enabled:
          type: boolean
        alert_recipient_email:
          type:
            - string
            - 'null'
        permissions:
          type: object
          properties:
            can_read:
              type: boolean
            can_update:
              type: boolean
            can_destroy:
              type: boolean
      example:
        id: 435
        domain_name: mailtrap.io
        demo: false
        compliance_status: compliant
        dns_verified: true
        dns_verified_at: '2024-12-26T09:40:44.161Z'
        dns_records:
          - key: verification
            domain: ve6wza2rbpe60x7z.mailtrap.io
            type: CNAME
            value: smtp.mailtrap.live
            status: pass
            name: ve6wza2rbpe60x7z
          - key: spf
            domain: mailtrap.io
            type: TXT
            value: 'v=spf1 include:_spf.smtp.mailtrap.live ~all'
            status: pass
            name: ''
          - key: dkim1
            domain: rwmt1._domainkey.mailtrap.io
            type: CNAME
            value: rwmt1.dkim.smtp.mailtrap.live
            status: pass
            name: rwmt1._domainkey
          - key: dkim2
            domain: rwmt2._domainkey.mailtrap.io
            type: CNAME
            value: rwmt2.dkim.smtp.mailtrap.live
            status: pass
            name: rwmt2._domainkey
          - key: dmarc
            domain: _dmarc.mailtrap.io
            type: TXT
            value: 'v=DMARC1; p=none; rua=mailto:dmarc@smtp.mailtrap.live; ruf=mailto:dmarc@smtp.mailtrap.live; rf=afrf; pct=100'
            status: pass
            name: _dmarc
          - key: link_verification
            domain: mt-link.mailtrap.io
            type: CNAME
            value: t.mailtrap.live
            status: pass
            name: mt-link
        open_tracking_enabled: true
        click_tracking_enabled: true
        auto_unsubscribe_link_enabled: true
        custom_domain_tracking_enabled: true
        health_alerts_enabled: true
        critical_alerts_enabled: true
        alert_recipient_email: john.doe@mailtrap.io
        permissions:
          can_read: true
          can_update: true
          can_destroy: true

    UpdateSendingDomainRequest:
      type: object
      properties:
        open_tracking_enabled:
          type: boolean
          description: Enable open tracking for emails sent from this domain
        click_tracking_enabled:
          type: boolean
          description: Enable click tracking for links in emails sent from this domain
        auto_unsubscribe_link_enabled:
          type: boolean
          description: Automatically add an unsubscribe link to emails sent from this domain

    CompanyInfo:
      type: object
      properties:
        name:
          type:
            - string
            - 'null'
          description: Company or individual name
        address:
          type:
            - string
            - 'null'
          description: Street address
        city:
          type:
            - string
            - 'null'
          description: City
        country:
          type:
            - string
            - 'null'
          description: Country
        phone:
          type:
            - string
            - 'null'
          description: Phone number
        zip_code:
          type:
            - string
            - 'null'
          description: ZIP or postal code
        privacy_policy_url:
          type:
            - string
            - 'null'
          format: uri
          description: URL to the privacy policy page
        terms_of_service_url:
          type:
            - string
            - 'null'
          format: uri
          description: URL to the terms of service page
        website_url:
          type:
            - string
            - 'null'
          format: uri
          description: Company website URL or LinkedIn / personal website
        info_level:
          type: string
          enum:
            - business
            - individual
          description: Whether the sender is a business or individual
      example:
        name: Mailtrap
        address: 123 Main St
        city: San Francisco
        country: US
        phone: '+1-555-0100'
        zip_code: '94105'
        privacy_policy_url: 'https://mailtrap.io/privacy'
        terms_of_service_url: 'https://mailtrap.io/terms'
        website_url: 'https://mailtrap.io'
        info_level: business

    CompanyInfoRequest:
      type: object
      required:
        - name
        - address
        - city
        - country
        - zip_code
        - website_url
      properties:
        name:
          type: string
          description: Company or individual name
          example: Mailtrap
        address:
          type: string
          description: Street address
          example: 123 Main St
        city:
          type: string
          description: City
          example: San Francisco
        country:
          type: string
          description: Country
          example: US
        phone:
          type: string
          description: Phone number
          example: '+1-555-0100'
        zip_code:
          type: string
          description: ZIP or postal code
          example: '94105'
        privacy_policy_url:
          type: string
          format: uri
          description: URL to the privacy policy page
          example: 'https://mailtrap.io/privacy'
        terms_of_service_url:
          type: string
          format: uri
          description: URL to the terms of service page
          example: 'https://mailtrap.io/terms'
        website_url:
          type: string
          format: uri
          description: Company website URL
          example: 'https://mailtrap.io'
        info_level:
          type: string
          enum:
            - business
            - individual
          description: Whether the sender is a business or individual
          example: business

    CompanyInfoUpdateRequest:
      type: object
      description: |
        All fields are optional. Only the fields provided in the request will be updated.
      properties:
        name:
          type: string
          description: Company or individual name
          example: Mailtrap
        address:
          type: string
          description: Street address
          example: 123 Main St
        city:
          type: string
          description: City
          example: San Francisco
        country:
          type: string
          description: Country
          example: US
        phone:
          type: string
          description: Phone number
          example: '+1-555-0100'
        zip_code:
          type: string
          description: ZIP or postal code
          example: '94105'
        privacy_policy_url:
          type: string
          format: uri
          description: URL to the privacy policy page
          example: 'https://mailtrap.io/privacy'
        terms_of_service_url:
          type: string
          format: uri
          description: URL to the terms of service page
          example: 'https://mailtrap.io/terms'
        website_url:
          type: string
          format: uri
          description: Company website URL
          example: 'https://mailtrap.io'
        info_level:
          type: string
          enum:
            - business
            - individual
          description: Whether the sender is a business or individual
          example: business

    Suppression:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The suppression UUID
          example: 64d71bf3-1276-417b-86e1-8e66f138acfe
        type:
          type: string
          enum: [hard bounce, unsubscription, spam complaint, manual import]
          description: Reason for the suppression
          example: hard bounce
        created_at:
          type: string
          format: date-time
          example: '2025-01-15T10:30:00Z'
        email:
          type: string
          format: email
          example: suppressed@example.com
        sending_stream:
          type: string
          enum: [transactional, bulk, any]
          example: transactional
        domain_name:
          type: [string, 'null']
          example: example.com
        message_bounce_category:
          type: [string, 'null']
        message_category:
          type: [string, 'null']
        message_client_ip:
          type: [string, 'null']
        message_created_at:
          type: [string, 'null']
          format: date-time
        message_esp_response:
          type: [string, 'null']
        message_esp_server_type:
          type: [string, 'null']
        message_outgoing_ip:
          type: [string, 'null']
        message_recipient_mx_name:
          type: [string, 'null']
        message_sender_email:
          type: [string, 'null']
        message_subject:
          type: [string, 'null']

    UnprocessableEntity:
      type: object
      properties:
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string

    SendingStats:
      title: SendingStats
      type: object
      properties:
        delivery_count:
          type: integer
          example: 190
        delivery_rate:
          type: number
          format: double
          example: 0.95
        bounce_count:
          type: integer
          example: 10
        bounce_rate:
          type: number
          format: double
          example: 0.05
        open_count:
          type: integer
          example: 171
        open_rate:
          type: number
          format: double
          example: 0.9
        click_count:
          type: integer
          example: 133
        click_rate:
          type: number
          format: double
          example: 0.7
        spam_count:
          type: integer
          example: 3
        spam_rate:
          type: number
          format: double
          example: 0.02

    BadRequest:
      title: BadRequestResponse
      type: object
      properties:
        success:
          type: boolean
          example: false
        errors:
          type: array
          items:
            type: string
            example: "Invalid request parameters"

    RateLimitExceededResponse:
      title: RateLimitExceededResponse
      type: object
      properties:
        success:
          type: boolean
          example: false
        errors:
          type: array
          items:
            type: string
            example: "Rate limit exceeded"

    EmailLogsListResponse:
      type: object
      required:
        - messages
        - total_count
        - next_page_cursor
      properties:
        messages:
          type: array
          items:
            type: object
            properties:
              message_id:
                type: string
                format: uuid
              status:
                type: string
                enum: [delivered, not_delivered, enqueued, opted_out]
              subject:
                type: string
                nullable: true
              from:
                type: string
              to:
                type: string
              sent_at:
                type: string
                format: date-time
              client_ip:
                type: string
                nullable: true
              category:
                type: string
                nullable: true
              custom_variables:
                type: object
              sending_stream:
                type: string
                enum: [transactional, bulk]
              sending_domain_id:
                type: integer
              template_id:
                type: integer
                nullable: true
              template_variables:
                type: object
              opens_count:
                type: integer
              clicks_count:
                type: integer
        total_count:
          type: integer
          description: Total number of messages matching the filters (before pagination).
        next_page_cursor:
          type: string
          format: uuid
          nullable: true
          description: Message UUID to use as search_after for the next page. Null if no more pages.
      example:
        messages:
          - message_id: 'a1b2c3d4-e5f6-7890-abcd-ef1234567890'
            status: delivered
            subject: Welcome to our service
            from: sender@example.com
            to: recipient@example.com
            sent_at: '2025-01-15T10:30:00Z'
            client_ip: 203.0.113.42
            category: Welcome Email
            custom_variables: {}
            sending_stream: transactional
            sending_domain_id: 3938
            template_id: 100
            template_variables: {}
            opens_count: 2
            clicks_count: 1
          - message_id: 'b2c3d4e5-f6a7-8901-bcde-f12345678901'
            status: delivered
            subject: Your order confirmation
            from: orders@example.com
            to: customer@example.com
            sent_at: '2025-01-15T11:00:00Z'
            client_ip: null
            category: Order Confirmation
            custom_variables: { order_id: '12345' }
            sending_stream: transactional
            sending_domain_id: 3938
            template_id: null
            template_variables: {}
            opens_count: 0
            clicks_count: 0
        total_count: 150
        next_page_cursor: 'b2c3d4e5-f6a7-8901-bcde-f12345678901'

    SendingMessage:
      type: object
      properties:
        message_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [delivered, not_delivered, enqueued, opted_out]
        subject:
          type: string
          nullable: true
        from:
          type: string
        to:
          type: string
        sent_at:
          type: string
          format: date-time
        client_ip:
          type: string
          nullable: true
        category:
          type: string
          nullable: true
        custom_variables:
          type: object
        sending_stream:
          type: string
          enum: [transactional, bulk]
        sending_domain_id:
          type: integer
        template_id:
          type: integer
          nullable: true
        template_variables:
          type: object
        opens_count:
          type: integer
        clicks_count:
          type: integer
        raw_message_url:
          type: string
          format: uri
          description: Signed URL to download raw .eml message (temporary).
        events:
          type: array
          items:
            $ref: '#/components/schemas/MessageEvent'
      example:
        message_id: 'a1b2c3d4-e5f6-7890-abcd-ef1234567890'
        status: delivered
        subject: Welcome to our service
        from: sender@example.com
        to: recipient@example.com
        sent_at: '2025-01-15T10:30:00Z'
        client_ip: 203.0.113.42
        category: Welcome Email
        custom_variables: {}
        sending_stream: transactional
        sending_domain_id: 3938
        template_id: 100
        template_variables: {}
        opens_count: 2
        clicks_count: 1
        raw_message_url: 'https://storage.example.com/signed/eml/a1b2c3d4-e5f6-7890-abcd-ef1234567890?token=...'
        events:
          - event_type: click
            created_at: '2025-01-15T10:35:00Z'
            details:
              click_url: 'https://example.com/track/click/abc123'
              web_ip_address: 198.51.100.50
          - event_type: spam
            created_at: '2025-01-15T10:40:00Z'
            details:
              spam_feedback_type: abuse

    MessageEvent:
      description: Event with type-specific details. Use event_type to determine which details schema applies.
      discriminator:
        propertyName: event_type
        mapping:
          delivery: '#/components/schemas/MessageEventDelivery'
          open: '#/components/schemas/MessageEventOpen'
          click: '#/components/schemas/MessageEventClick'
          soft_bounce: '#/components/schemas/MessageEventBounce'
          bounce: '#/components/schemas/MessageEventBounce'
          spam: '#/components/schemas/MessageEventSpam'
          unsubscribe: '#/components/schemas/MessageEventUnsubscribe'
          suspension: '#/components/schemas/MessageEventReject'
          reject: '#/components/schemas/MessageEventReject'
      oneOf:
        - $ref: '#/components/schemas/MessageEventDelivery'
        - $ref: '#/components/schemas/MessageEventOpen'
        - $ref: '#/components/schemas/MessageEventClick'
        - $ref: '#/components/schemas/MessageEventBounce'
        - $ref: '#/components/schemas/MessageEventSpam'
        - $ref: '#/components/schemas/MessageEventUnsubscribe'
        - $ref: '#/components/schemas/MessageEventReject'
      example:
        event_type: click
        created_at: '2025-01-15T10:35:00Z'
        details:
          click_url: 'https://example.com/track/click/abc123'
          web_ip_address: 198.51.100.50

    MessageEventDelivery:
      type: object
      required: [event_type, created_at, details]
      properties:
        event_type:
          type: string
          enum: [delivery]
        created_at:
          type: string
          format: date-time
        details:
          $ref: '#/components/schemas/EventDetailsDelivery'

    MessageEventOpen:
      type: object
      required: [event_type, created_at, details]
      properties:
        event_type:
          type: string
          enum: [open]
        created_at:
          type: string
          format: date-time
        details:
          $ref: '#/components/schemas/EventDetailsOpen'

    MessageEventClick:
      type: object
      required: [event_type, created_at, details]
      properties:
        event_type:
          type: string
          enum: [click]
        created_at:
          type: string
          format: date-time
        details:
          $ref: '#/components/schemas/EventDetailsClick'

    MessageEventBounce:
      type: object
      required: [event_type, created_at, details]
      properties:
        event_type:
          type: string
          enum: [soft_bounce, bounce]
        created_at:
          type: string
          format: date-time
        details:
          $ref: '#/components/schemas/EventDetailsBounce'

    MessageEventSpam:
      type: object
      required: [event_type, created_at, details]
      properties:
        event_type:
          type: string
          enum: [spam]
        created_at:
          type: string
          format: date-time
        details:
          $ref: '#/components/schemas/EventDetailsSpam'

    MessageEventUnsubscribe:
      type: object
      required: [event_type, created_at, details]
      properties:
        event_type:
          type: string
          enum: [unsubscribe]
        created_at:
          type: string
          format: date-time
        details:
          $ref: '#/components/schemas/EventDetailsUnsubscribe'

    MessageEventReject:
      type: object
      required: [event_type, created_at, details]
      properties:
        event_type:
          type: string
          enum: [suspension, reject]
        created_at:
          type: string
          format: date-time
        details:
          $ref: '#/components/schemas/EventDetailsReject'

    EventDetailsDelivery:
      type: object
      description: For event_type = delivery
      additionalProperties: false
      properties:
        sending_ip:
          type: string
          nullable: true
        recipient_mx:
          type: string
          nullable: true
        email_service_provider:
          type: string
          nullable: true
      example:
        sending_ip: 192.0.2.1
        recipient_mx: gmail-smtp-in.l.google.com
        email_service_provider: Google

    EventDetailsOpen:
      type: object
      description: For event_type = open
      additionalProperties: false
      properties:
        web_ip_address:
          type: string
          nullable: true
      example:
        web_ip_address: 198.51.100.50

    EventDetailsClick:
      type: object
      description: For event_type = click
      additionalProperties: false
      properties:
        click_url:
          type: string
          nullable: true
        web_ip_address:
          type: string
          nullable: true
      example:
        click_url: 'https://example.com/track/click/abc123'
        web_ip_address: 198.51.100.50

    EventDetailsBounce:
      type: object
      description: For event_type = soft_bounce or bounce
      additionalProperties: false
      properties:
        sending_ip:
          type: string
          nullable: true
        recipient_mx:
          type: string
          nullable: true
        email_service_provider:
          type: string
          nullable: true
        email_service_provider_status:
          type: string
          nullable: true
        email_service_provider_response:
          type: string
          nullable: true
        bounce_category:
          type: string
          nullable: true
      example:
        sending_ip: 192.0.2.1
        recipient_mx: mx.example.com
        email_service_provider: Google
        email_service_provider_status: 5.7.1
        email_service_provider_response: User unknown
        bounce_category: invalid_recipient

    EventDetailsSpam:
      type: object
      description: For event_type = spam
      additionalProperties: false
      properties:
        spam_feedback_type:
          type: string
          nullable: true
      example:
        spam_feedback_type: abuse

    EventDetailsUnsubscribe:
      type: object
      description: For event_type = unsubscribe
      additionalProperties: false
      properties:
        web_ip_address:
          type: string
          nullable: true
      example:
        web_ip_address: 198.51.100.50

    EventDetailsReject:
      type: object
      description: For event_type = suspension or reject
      additionalProperties: false
      properties:
        reject_reason:
          type: string
          nullable: true
      example:
        reject_reason: Policy rejection

    EmailLogsListFilters:
      type: object
      description: |
        Key-value map of filter name to filter spec. Each spec has operator and optional value.
        Date range uses sent_after / sent_before at top level of filters (see below).
        In query params, array values use bracket notation: `filters[field][value][]=a&filters[field][value][]=b`.
      properties:
        sent_after:
          type: string
          format: date-time
          description: Start of sent-at range (ISO 8601). Must be before or equal to sent_before.
          example: '2025-01-01T00:00:00Z'
        sent_before:
          type: string
          format: date-time
          description: End of sent-at range (ISO 8601). Must be after or equal to sent_after.
          example: '2025-01-31T23:59:59Z'
        to:
          $ref: '#/components/schemas/FilterTo'
        from:
          $ref: '#/components/schemas/FilterFrom'
        subject:
          $ref: '#/components/schemas/FilterSubject'
        status:
          $ref: '#/components/schemas/FilterStatus'
        events:
          $ref: '#/components/schemas/FilterEvents'
        clicks_count:
          $ref: '#/components/schemas/FilterClicksCount'
        opens_count:
          $ref: '#/components/schemas/FilterOpensCount'
        client_ip:
          $ref: '#/components/schemas/FilterClientIp'
        sending_ip:
          $ref: '#/components/schemas/FilterSendingIp'
        email_service_provider_response:
          $ref: '#/components/schemas/FilterEmailServiceProviderResponse'
        email_service_provider:
          $ref: '#/components/schemas/FilterEmailServiceProvider'
        recipient_mx:
          $ref: '#/components/schemas/FilterRecipientMx'
        category:
          $ref: '#/components/schemas/FilterCategory'
        sending_domain_id:
          $ref: '#/components/schemas/FilterSendingDomainId'
        sending_stream:
          $ref: '#/components/schemas/FilterSendingStream'

    FilterCiEqualString:
      type: object
      required: [operator, value]
      properties:
        operator:
          type: string
          enum: [ci_equal, ci_not_equal]
          description: "ci_* = case-insensitive"
        value:
          oneOf:
            - type: string
            - type: array
              items:
                type: string

    FilterCiContainString:
      type: object
      required: [operator, value]
      properties:
        operator:
          type: string
          enum: [ci_contain, ci_not_contain]
          description: "ci_* = case-insensitive"
        value:
          type: string

    FilterEqualString:
      type: object
      required: [operator, value]
      properties:
        operator:
          type: string
          enum: [equal, not_equal]
        value:
          oneOf:
            - type: string
            - type: array
              items:
                type: string

    FilterContainString:
      type: object
      required: [operator, value]
      properties:
        operator:
          type: string
          enum: [contain, not_contain]
        value:
          type: string

    FilterEmptyString:
      type: object
      required: [operator]
      properties:
        operator:
          type: string
          enum: [empty, not_empty]

    FilterTo:
      oneOf:
        - $ref: '#/components/schemas/FilterCiEqualString'
        - $ref: '#/components/schemas/FilterCiContainString'
      discriminator:
        propertyName: operator
        mapping:
          ci_equal: '#/components/schemas/FilterCiEqualString'
          ci_not_equal: '#/components/schemas/FilterCiEqualString'
          ci_contain: '#/components/schemas/FilterCiContainString'
          ci_not_contain: '#/components/schemas/FilterCiContainString'
      example:
        operator: ci_equal
        value: recipient@example.com

    FilterFrom:
      oneOf:
        - $ref: '#/components/schemas/FilterCiEqualString'
        - $ref: '#/components/schemas/FilterCiContainString'
      discriminator:
        propertyName: operator
        mapping:
          ci_equal: '#/components/schemas/FilterCiEqualString'
          ci_not_equal: '#/components/schemas/FilterCiEqualString'
          ci_contain: '#/components/schemas/FilterCiContainString'
          ci_not_contain: '#/components/schemas/FilterCiContainString'
      example:
        operator: ci_contain
        value: noreply@example.com

    FilterSubject:
      oneOf:
        - $ref: '#/components/schemas/FilterCiEqualString'
        - $ref: '#/components/schemas/FilterCiContainString'
        - $ref: '#/components/schemas/FilterEmptyString'
      discriminator:
        propertyName: operator
        mapping:
          ci_equal: '#/components/schemas/FilterCiEqualString'
          ci_not_equal: '#/components/schemas/FilterCiEqualString'
          ci_contain: '#/components/schemas/FilterCiContainString'
          ci_not_contain: '#/components/schemas/FilterCiContainString'
          empty: '#/components/schemas/FilterEmptyString'
          not_empty: '#/components/schemas/FilterEmptyString'
      example:
        operator: ci_contain
        value: Order confirmation

    FilterStatus:
      type: object
      required: [operator, value]
      properties:
        operator:
          type: string
          enum: [equal, not_equal]
        value:
          oneOf:
            - type: string
              enum: [delivered, not_delivered, enqueued, opted_out]
            - type: array
              items:
                type: string
                enum: [delivered, not_delivered, enqueued, opted_out]

    FilterEvents:
      type: object
      required: [operator, value]
      properties:
        operator:
          type: string
          enum: [include_event, not_include_event]
        value:
          oneOf:
            - type: string
              enum: [delivery, open, click, bounce, spam, unsubscribe, soft_bounce, reject, suspension]
            - type: array
              items:
                type: string
                enum: [delivery, open, click, bounce, spam, unsubscribe, soft_bounce, reject, suspension]

    FilterClicksCount:
      type: object
      required: [operator, value]
      properties:
        operator:
          type: string
          enum: [equal, greater_than, less_than]
        value:
          type: integer
      example:
        operator: greater_than
        value: 0

    FilterOpensCount:
      type: object
      required: [operator, value]
      properties:
        operator:
          type: string
          enum: [equal, greater_than, less_than]
        value:
          type: integer
      example:
        operator: equal
        value: 1

    FilterClientIp:
      oneOf:
        - $ref: '#/components/schemas/FilterEqualString'
        - $ref: '#/components/schemas/FilterContainString'
      discriminator:
        propertyName: operator
        mapping:
          equal: '#/components/schemas/FilterEqualString'
          not_equal: '#/components/schemas/FilterEqualString'
          contain: '#/components/schemas/FilterContainString'
          not_contain: '#/components/schemas/FilterContainString'
      example:
        operator: equal
        value: 203.0.113.42

    FilterSendingIp:
      oneOf:
        - $ref: '#/components/schemas/FilterEqualString'
        - $ref: '#/components/schemas/FilterContainString'
      discriminator:
        propertyName: operator
        mapping:
          equal: '#/components/schemas/FilterEqualString'
          not_equal: '#/components/schemas/FilterEqualString'
          contain: '#/components/schemas/FilterContainString'
          not_contain: '#/components/schemas/FilterContainString'
      example:
        operator: contain
        value: 192.0.2

    FilterEmailServiceProviderResponse:
      oneOf:
        - $ref: '#/components/schemas/FilterCiEqualString'
        - $ref: '#/components/schemas/FilterCiContainString'
      discriminator:
        propertyName: operator
        mapping:
          ci_equal: '#/components/schemas/FilterCiEqualString'
          ci_not_equal: '#/components/schemas/FilterCiEqualString'
          ci_contain: '#/components/schemas/FilterCiContainString'
          ci_not_contain: '#/components/schemas/FilterCiContainString'
      example:
        operator: ci_contain
        value: User unknown

    FilterEmailServiceProvider:
      type: object
      required: [operator, value]
      properties:
        operator:
          type: string
          enum: [equal, not_equal]
        value:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
      example:
        operator: equal
        value: Google

    FilterRecipientMx:
      oneOf:
        - $ref: '#/components/schemas/FilterCiEqualString'
        - $ref: '#/components/schemas/FilterCiContainString'
      discriminator:
        propertyName: operator
        mapping:
          ci_equal: '#/components/schemas/FilterCiEqualString'
          ci_not_equal: '#/components/schemas/FilterCiEqualString'
          ci_contain: '#/components/schemas/FilterCiContainString'
          ci_not_contain: '#/components/schemas/FilterCiContainString'
      example:
        operator: ci_equal
        value: gmail-smtp-in.l.google.com

    FilterCategory:
      type: object
      required: [operator, value]
      properties:
        operator:
          type: string
          enum: [equal, not_equal]
        value:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
      example:
        operator: equal
        value: Welcome Email

    FilterSendingDomainId:
      type: object
      required: [operator, value]
      properties:
        operator:
          type: string
          enum: [equal, not_equal]
        value:
          oneOf:
            - type: integer
            - type: array
              items:
                type: integer
      example:
        operator: equal
        value: 3938

    FilterSendingStream:
      type: object
      required: [operator, value]
      properties:
        operator:
          type: string
          enum: [equal, not_equal]
        value:
          oneOf:
            - type: string
              enum: [transactional, bulk]
            - type: array
              items:
                type: string
                enum: [transactional, bulk]
      example:
        operator: equal
        value: transactional

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        errors:
          type: array
          items:
            type: string
            example: Invalid request

  responses:
    Unauthorized:
      description: Unauthorized. Check your API credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            errors:
              - "Unauthorized"

    Forbidden:
      description: Forbidden. Verify domain or check permissions.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            errors:
              - "Forbidden"

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Resource not found

    UnprocessableEntity:
      description: Validation errors
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnprocessableEntity'

    BAD_REQUEST:
      description: Bad request - invalid parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BadRequest'
          example:
            success: false
            errors:
              - "Invalid request parameters"

    LIMIT_EXCEEDED:
      description: Rate limit exceeded for the current account.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RateLimitExceededResponse'
          example:
            success: false
            errors:
              - "Rate limit exceeded"

    SendingDomainResponse:
      description: Sending domain details
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SendingDomain'

    CompanyInfoResponse:
      description: Company information
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                $ref: '#/components/schemas/CompanyInfo'

    SendingDomainsResponse:
      description: List of sending domains
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/SendingDomain'

    GetSuppressionsResponse:
      description: List of suppressions
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Suppression'

    DeleteSuppressionResponse:
      description: Suppression deleted
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Suppression'

    CreateSuppressionResponse:
      description: Suppression created
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                $ref: '#/components/schemas/Suppression'
