openapi: 3.1.0
info:
  title: Send Email - Transactional
  version: 2.0.0
  description: |
    Send transactional emails for order confirmations, password resets, notifications, and other user-triggered communications.
  contact:
    name: Mailtrap Support
    url: 'https://docs.mailtrap.io'
    email: support@mailtrap.io
  license:
    name: Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)
    url: 'https://creativecommons.org/licenses/by-sa/4.0/'
  x-logo:
    url: 'https://mailtrap.io/wp-content/uploads/2021/04/mailtrap-logo.svg'

servers:
  - description: Transactional Stream
    url: 'https://send.api.mailtrap.io'

security:
  - HeaderAuth: []
  - BearerAuth: []

tags:
  - name: send-email
    x-page-title: Send Email - Transactional
    x-page-icon: envelope
    x-page-description: Send individual transactional emails
    description: |
      Send transactional emails for order confirmations, password resets, and notifications.

      {% hint style="success" %}
      Best for: Real-time, one-to-one emails triggered by user actions
      {% endhint %}

paths:
  /api/send:
    post:
      summary: Send transactional email
      description: |
        Send a single transactional email with text, HTML, or template content.

        Use this endpoint for:
        - Order confirmations
        - Password reset emails
        - Account notifications
        - Welcome emails
        - System alerts
      operationId: sendEmail
      tags:
        - send-email
      x-codeSamples:
        - lang: javascript
          label: Node.js
          source: |
            import { MailtrapClient } from "mailtrap";

            const client = new MailtrapClient({
              token: process.env.MAILTRAP_API_KEY
            });

            await client.send({
              from: {
                email: "sender@example.com",
                name: "Sender Name"
              },
              to: [{ email: "recipient@example.com" }],
              subject: "Hello from Mailtrap",
              text: "Welcome to Mailtrap!",
              html: "<h1>Welcome to Mailtrap!</h1>"
            });
        - lang: php
          label: PHP
          source: |
            <?php
            use Mailtrap\MailtrapClient;
            use Mailtrap\Mime\MailtrapEmail;
            use Symfony\Component\Mime\Address;

            $mailtrap = MailtrapClient::initSendingEmails(
                apiKey: $_ENV['MAILTRAP_API_KEY']
            );

            $email = (new MailtrapEmail())
                ->from(new Address('sender@example.com', 'Sender Name'))
                ->to(new Address('recipient@example.com'))
                ->subject('Hello from Mailtrap')
                ->text('Welcome to Mailtrap!')
                ->html('<h1>Welcome to Mailtrap!</h1>');

            $response = $mailtrap->send($email);
        - lang: python
          label: Python
          source: |
            import mailtrap as mt

            client = mt.MailtrapClient(token="YOUR_API_KEY")

            mail = mt.Mail(
                sender=mt.Address(email="sender@example.com"),
                to=[mt.Address(email="recipient@example.com")],
                subject="Hello from Mailtrap",
                text="Welcome to Mailtrap!",
                html="<h1>Welcome to Mailtrap!</h1>"
            )

            client.send(mail)
        - lang: ruby
          label: Ruby
          source: |
            require 'mailtrap'

            client = Mailtrap::Client.new(api_key: 'YOUR_API_KEY')

            mail = Mailtrap::Mail.from_content(
              from: { email: 'sender@example.com' },
              to: [{ email: 'recipient@example.com' }],
              subject: 'Hello from Mailtrap',
              text: 'Welcome to Mailtrap!',
              html: '<h1>Welcome to Mailtrap!</h1>'
            )

            client.send(mail)
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;

            var client = new MailtrapClient("YOUR_API_KEY");

            var email = new Email
            {
                From = new Address { Email = "sender@example.com" },
                To = new[] { new Address { Email = "recipient@example.com" } },
                Subject = "Hello from Mailtrap",
                Text = "Welcome to Mailtrap!",
                Html = "<h1>Welcome to Mailtrap!</h1>"
            };

            await client.SendAsync(email);
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;
            import io.mailtrap.model.Address;
            import io.mailtrap.model.MailtrapMail;
            import java.util.List;

            var config = new MailtrapConfig.Builder()
                .token("YOUR_API_KEY")
                .build();

            var client = MailtrapClientFactory
                .createMailtrapClient(config);

            var mail = MailtrapMail.builder()
                .from(new Address("sender@example.com", "Sender Name"))
                .to(List.of(new Address("recipient@example.com")))
                .subject("Hello from Mailtrap")
                .text("Welcome to Mailtrap!")
                .html("<h1>Welcome to Mailtrap!</h1>")
                .build();

            client.sendingApi().emails().send(mail);
        - lang: shell
          label: 'cURL'
          source: |
            curl -X POST https://send.api.mailtrap.io/api/send \
              -H 'Authorization: Bearer YOUR_API_KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "from": {"email": "sender@example.com"},
                "to": [{"email": "recipient@example.com"}],
                "subject": "Hello from Mailtrap",
                "text": "Welcome to Mailtrap!"
              }'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/EmailWithText'
                - $ref: '#/components/schemas/EmailWithHtml'
                - $ref: '#/components/schemas/EmailWithTextAndHtml'
                - $ref: '#/components/schemas/EmailFromTemplate'
      responses:
        '200':
          description: Email successfully sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SentResponse'
              example:
                success: true
                message_ids:
                  - "0c7fd939-02cf-11ed-88c2-0a58a9feac02"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

components:
  securitySchemes:
    HeaderAuth:
      type: apiKey
      description: API token in Api-Token header
      in: header
      name: Api-Token
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token authentication

  schemas:
    Address:
      type: object
      properties:
        email:
          type: string
          format: email
          example: john@example.com
        name:
          type: string
          example: John Doe

    EmailSender:
      type: object
      required:
        - from
      properties:
        from:
          $ref: '#/components/schemas/Address'

    EmailRecipients:
      type: object
      properties:
        to:
          type: array
          maxItems: 1000
          items:
            $ref: '#/components/schemas/Address'
        cc:
          type: array
          maxItems: 1000
          items:
            $ref: '#/components/schemas/Address'
        bcc:
          type: array
          maxItems: 1000
          items:
            $ref: '#/components/schemas/Address'

    EmailReplyTo:
      type: object
      properties:
        reply_to:
          $ref: '#/components/schemas/Address'

    EmailSubject:
      type: object
      required:
        - subject
      properties:
        subject:
          type: string
          minLength: 1
          example: Your Order Confirmation

    EmailText:
      type: object
      properties:
        text:
          type: string
          minLength: 1
          example: Thank you for your order!

    EmailHtml:
      type: object
      properties:
        html:
          type: string
          minLength: 1
          example: <h1>Thank you for your order!</h1>

    EmailCategory:
      type: object
      properties:
        category:
          type: string
          maxLength: 255
          example: transactional

    EmailCustomVariables:
      type: object
      properties:
        custom_variables:
          type: object
          additionalProperties:
            type: string
          example:
            user_id: "12345"
            order_id: "ORD-789"

    EmailSendingHeaders:
      type: object
      properties:
        headers:
          type: object
          additionalProperties:
            type: string
          example:
            X-Message-Source: api.example.com
            X-Campaign-ID: CAMP-123

    EmailAttachments:
      type: object
      properties:
        attachments:
          type: array
          items:
            type: object
            required:
              - content
              - filename
            properties:
              content:
                type: string
                description: Base64 encoded content
                example: base64encodedcontent==
              filename:
                type: string
                example: document.pdf
              type:
                type: string
                description: MIME type
                example: application/pdf
              disposition:
                type: string
                enum: [attachment, inline]
                default: attachment
              content_id:
                type: string
                description: For inline attachments
                example: image001

    TemplateUuid:
      type: object
      properties:
        template_uuid:
          type: string
          format: uuid
          description: Email template UUID
          example: b81aabcd-1a1e-41cf-91b6-eca0254b3d96

    TemplateVariables:
      type: object
      properties:
        template_variables:
          type: object
          description: Template variable values
          example:
            user_name: John Doe
            order_number: "12345"

    EmailWithText:
      title: Text Only
      description: Send email with plain text content only
      allOf:
        - $ref: '#/components/schemas/EmailSender'
        - $ref: '#/components/schemas/EmailRecipients'
        - $ref: '#/components/schemas/EmailReplyTo'
        - $ref: '#/components/schemas/EmailSubject'
        - $ref: '#/components/schemas/EmailText'
        - $ref: '#/components/schemas/EmailAttachments'
        - $ref: '#/components/schemas/EmailSendingHeaders'
        - $ref: '#/components/schemas/EmailCustomVariables'
        - $ref: '#/components/schemas/EmailCategory'
      required:
        - from
        - subject
        - text

    EmailWithHtml:
      title: HTML Only
      description: Send email with HTML content only
      allOf:
        - $ref: '#/components/schemas/EmailSender'
        - $ref: '#/components/schemas/EmailRecipients'
        - $ref: '#/components/schemas/EmailReplyTo'
        - $ref: '#/components/schemas/EmailSubject'
        - $ref: '#/components/schemas/EmailHtml'
        - $ref: '#/components/schemas/EmailAttachments'
        - $ref: '#/components/schemas/EmailSendingHeaders'
        - $ref: '#/components/schemas/EmailCustomVariables'
        - $ref: '#/components/schemas/EmailCategory'
      required:
        - from
        - subject
        - html

    EmailWithTextAndHtml:
      title: Text and HTML
      description: Send email with both plain text and HTML content
      allOf:
        - $ref: '#/components/schemas/EmailSender'
        - $ref: '#/components/schemas/EmailRecipients'
        - $ref: '#/components/schemas/EmailReplyTo'
        - $ref: '#/components/schemas/EmailSubject'
        - $ref: '#/components/schemas/EmailText'
        - $ref: '#/components/schemas/EmailHtml'
        - $ref: '#/components/schemas/EmailAttachments'
        - $ref: '#/components/schemas/EmailSendingHeaders'
        - $ref: '#/components/schemas/EmailCustomVariables'
        - $ref: '#/components/schemas/EmailCategory'
      required:
        - from
        - subject
        - text
        - html

    EmailFromTemplate:
      title: From Template
      description: Send email using a pre-defined template with variables
      allOf:
        - $ref: '#/components/schemas/EmailSender'
        - $ref: '#/components/schemas/EmailRecipients'
        - $ref: '#/components/schemas/EmailReplyTo'
        - $ref: '#/components/schemas/TemplateUuid'
        - $ref: '#/components/schemas/TemplateVariables'
        - $ref: '#/components/schemas/EmailAttachments'
        - $ref: '#/components/schemas/EmailSendingHeaders'
        - $ref: '#/components/schemas/EmailCustomVariables'
      required:
        - from
        - template_uuid

    SentResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message_ids:
          type: array
          description: Message IDs (one per recipient)
          items:
            type: string
            example: 0c7fd939-02cf-11ed-88c2-0a58a9feac02

    SendEmailErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        errors:
          type: array
          items:
            type: string
            example: Invalid sender email address

  responses:
    BadRequest:
      description: Bad request. Fix errors listed in response before retrying.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SendEmailErrorResponse'

    Unauthorized:
      description: Unauthorized. Check your API credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SendEmailErrorResponse'

    Forbidden:
      description: Forbidden. Verify domain or check permissions.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SendEmailErrorResponse'

    InternalError:
      description: Internal server error. Retry later or contact support.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SendEmailErrorResponse'
