openapi: 3.1.0
info:
  description: API for Mailtrap.io Sandbox functionality
  version: 2.0-oas3
  title: Sandbox API
  contact:
    name: Mailtrap
    url: 'https://docs.mailtrap.io'
    email: support@mailtrap.io
  license:
    name: Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)
    url: 'https://creativecommons.org/licenses/by-sa/4.0/'
security:
  - HeaderAuth: []
  - BearerAuth: []
servers:
  - description: Mailtrap Sandbox API
    url: 'https://mailtrap.io'
tags:
  - name: sandbox-api
    x-page-title: Email Sandbox API
    x-page-description: Test email sending in a safe environment
    description: |
      ## Email Sandbox API

      Test email functionality without sending to real recipients. Perfect for development, staging, and QA environments.

      {% hint style="info" %}
      **Key Features**: Email capture, content inspection, spam scoring, attachment handling, team collaboration
      {% endhint %}

      ### Getting Started

      {% tabs %}
      {% tab title="Projects" %}
      **Organize Your Tests:**
      - Create projects for different environments
      - Group inboxes by application or feature
      - Share with team members for collaboration
      {% endtab %}

      {% tab title="Inboxes" %}
      **Test Email Capture:**
      - Create multiple test inboxes
      - Unique SMTP credentials per inbox
      - API access for automation
      {% endtab %}

      {% tab title="Messages" %}
      **Email Inspection:**
      - View HTML/text content
      - Check headers and attachments
      - Analyze spam scores
      - Forward for manual review
      {% endtab %}
      {% endtabs %}

  - name: Projects
    x-parent: sandbox-api
    x-page-title: Projects
    x-page-description: Organize test environments
    description: Interactions with projects

  - name: Inboxes
    x-parent: sandbox-api
    x-page-title: Inboxes
    x-page-description: Manage test inboxes
    description: Interactions with inboxes

  - name: Messages
    x-parent: sandbox-api
    x-page-title: Messages
    x-page-description: Inspect captured emails
    description: Interactions with messages

  - name: Attachments
    x-parent: sandbox-api
    x-page-title: Attachments
    x-page-description: Handle email attachments
    description: Interactions with attachments

  - name: Test Emails
    x-parent: sandbox-api
    x-page-title: Send Test Emails
    x-page-description: Send emails to sandbox
    description: Test Emails
paths:
  '/api/accounts/{account_id}/projects':
    post:
      summary: Create project
      description: The project name is min 2 characters and max 100 characters long.
      tags:
        - Projects
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                project:
                  type: object
                  properties:
                    name:
                      type: string
            example:
              project:
                name: My New Project
      responses:
        '200':
          $ref: '#/components/responses/ProjectResponse'
        '401':
          $ref: '#/components/responses/UNAUTHENTICATED'
        '403':
          $ref: '#/components/responses/PERMISSION_DENIED'
      operationId: createProject
      x-codeSamples:
        - lang: javascript
          label: Node.js
          source: |
            import { MailtrapClient } from "mailtrap";

            const client = new MailtrapClient({
              token: "YOUR_API_KEY",
              accountId: ACCOUNT_ID
            });

            const project = await client.testing.projects.create({
              name: 'My New Project'
            });

            console.log(project);
        - lang: php
          label: PHP
          source: |
            <?php
            use Mailtrap\Config;
            use Mailtrap\Helper\ResponseHelper;
            use Mailtrap\MailtrapSandboxClient;

            $config = new Config($_ENV['MAILTRAP_API_KEY']);
            $accountId = $_ENV['MAILTRAP_ACCOUNT_ID'];

            $sandboxProjects = (new MailtrapSandboxClient($config))
                ->projects($accountId);

            $response = $sandboxProjects->create('My New Project');
            var_dump(ResponseHelper::toArray($response));
        - lang: python
          label: Python
          source: |
            import mailtrap as mt

            client = mt.MailtrapClient(
                token="YOUR_API_TOKEN",
                account_id=ACCOUNT_ID
            )

            project = client.testing_api.projects.create(
                project_params=mt.ProjectParams(name="My New Project")
            )

            print(project)
        - lang: ruby
          label: Ruby
          source: |
            require 'mailtrap'

            client = Mailtrap::Client.new(api_key: 'YOUR_API_TOKEN')
            projects = Mailtrap::ProjectsAPI.new(
              YOUR_ACCOUNT_ID,
              client
            )
            
            project = projects.create(
              name: 'Example Project'
            )

            puts project
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;
            using Mailtrap.Projects.Requests;

            using var mailtrapFactory = new MailtrapClientFactory("YOUR_API_KEY");
            var client = mailtrapFactory.CreateClient();

            var project = await client
                .Account(YOUR_ACCOUNT_ID)
                .Projects()
                .Create(new CreateProjectRequest("My New Project"));

            Console.WriteLine(project.Name);
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;
            import io.mailtrap.model.request.projects.ProjectRequest;

            var config = new MailtrapConfig.Builder()
                .token("YOUR_API_TOKEN")
                .build();

            var client = MailtrapClientFactory
                .createMailtrapClient(config);

            var request = new ProjectRequest(
                new ProjectRequest.ProjectData("My New Project")
            );

            var project = client.testingApi().projects()
                .createProject(accountId, request);

            System.out.println(project);
        - lang: shell
          label: 'cURL'
          source: |
            curl -X POST https://mailtrap.io/api/accounts/{account_id}/projects \
              -H 'Authorization: Bearer YOUR_API_KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "project": {
                  "name": "My New Project"
                }
              }'
    get:
      summary: Get a list of projects
      description: List projects and their inboxes to which the API token has access.
      tags:
        - Projects
      responses:
        '200':
          $ref: '#/components/responses/ProjectsResponse'
        '401':
          $ref: '#/components/responses/UNAUTHENTICATED'
        '403':
          $ref: '#/components/responses/PERMISSION_DENIED'
      operationId: getProjects
      x-codeSamples:
        - lang: javascript
          label: Node.js
          source: |
            import { MailtrapClient } from "mailtrap";

            const client = new MailtrapClient({
              token: "YOUR_API_TOKEN",
              accountId: ACCOUNT_ID
            });

            const projects = await client.testing.projects.getList();

            projects.forEach(project => {
              console.log(`Project: ${project.name}, ID: ${project.id}`);
            });
        - lang: php
          label: PHP
          source: |
            <?php
            use Mailtrap\Config;
            use Mailtrap\Helper\ResponseHelper;
            use Mailtrap\MailtrapSandboxClient;

            $config = new Config($_ENV['MAILTRAP_API_KEY']);
            $accountId = $_ENV['MAILTRAP_ACCOUNT_ID'];

            $sandboxProjects = (new MailtrapSandboxClient($config))
                ->projects($accountId);

            $response = $sandboxProjects->getList();
            var_dump(ResponseHelper::toArray($response));
        - lang: python
          label: Python
          source: |
            import mailtrap as mt

            client = mt.MailtrapClient(
                token="YOUR_API_TOKEN",
                account_id=ACCOUNT_ID
            )

            projects = client.testing_api.projects.get_list()

            for project in projects:
                print(f"Project: {project.name}, ID: {project.id}")
        - lang: ruby
          label: Ruby
          source: |
            require 'mailtrap'

            client = Mailtrap::Client.new(api_key: 'YOUR_API_TOKEN')
            projects = Mailtrap::ProjectsAPI.new(
              YOUR_ACCOUNT_ID,
              client
            )

            all_projects = projects.list

            all_projects.each do |project|
              puts "Project: #{project.name}, ID: #{project.id}"
            end
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;

            using var mailtrapFactory = new MailtrapClientFactory("YOUR_API_KEY");
            var client = mailtrapFactory.CreateClient();

            var projects = await client
                .Account(YOUR_ACCOUNT_ID)
                .Projects()
                .GetAll();

            foreach (var project in projects)
            {
                Console.WriteLine($"Project: {project.Name}, ID: {project.Id}");
            }
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;

            var config = new MailtrapConfig.Builder()
                .token("YOUR_API_TOKEN")
                .build();

            var client = MailtrapClientFactory
                .createMailtrapClient(config);

            var projects = client.testingApi().projects().getProjects(accountId);

            for (var project : projects) {
                System.out.println("Project: " + project.getName() +
                                   ", ID: " + project.getId());
            }
        - lang: shell
          label: 'cURL'
          source: |
            curl -X GET https://mailtrap.io/api/accounts/{account_id}/projects \
              -H 'Authorization: Bearer YOUR_API_KEY'
    parameters:
      - $ref: '#/components/parameters/account_id'
  '/api/accounts/{account_id}/projects/{project_id}':
    get:
      summary: Get project by ID
      description: Get the project and its inboxes.
      tags:
        - Projects
      responses:
        '200':
          $ref: '#/components/responses/ProjectResponse'
        '401':
          $ref: '#/components/responses/UNAUTHENTICATED'
        '403':
          $ref: '#/components/responses/PERMISSION_DENIED'
        '404':
          $ref: '#/components/responses/NOT_FOUND'
      operationId: getProject
      x-codeSamples:
        - lang: javascript
          label: Node.js
          source: |
            import { MailtrapClient } from "mailtrap";

            const client = new MailtrapClient({
              token: process.env.MAILTRAP_API_KEY,
              accountId: YOUR_ACCOUNT_ID
            });

            const projectId = 12345;
            const project = await client.testing.projects.get(projectId);

            console.log("Project:", project);
        - lang: php
          label: PHP
          source: |
            <?php
            use Mailtrap\Config;
            use Mailtrap\Helper\ResponseHelper;
            use Mailtrap\MailtrapSandboxClient;

            $config = new Config($_ENV['MAILTRAP_API_KEY']);
            $accountId = $_ENV['MAILTRAP_ACCOUNT_ID'];

            $sandboxProjects = (new MailtrapSandboxClient($config))
                ->projects($accountId);

            $projectId = $_ENV['MAILTRAP_PROJECT_ID'];
            $response = $sandboxProjects->getById($projectId);
            var_dump(ResponseHelper::toArray($response));
        - lang: python
          label: Python
          source: |
            import mailtrap as mt

            client = mt.MailtrapClient(
                token="YOUR_API_KEY",
                account_id=YOUR_ACCOUNT_ID
            )

            # Get project by ID
            project_id = 12345
            project = client.testing_api.projects.get_by_id(project_id)

            print(f"Project: {project.name}")
        - lang: ruby
          label: Ruby
          source: |
            require 'mailtrap'

            client = Mailtrap::Client.new(api_key: 'YOUR_API_KEY')
            projects = Mailtrap::ProjectsAPI.new(
              YOUR_ACCOUNT_ID,
              client
            )

            # Get project by ID
            project_id = 12345
            project = projects.get(project_id)

            puts "Project: #{project.name}"
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;

            using var mailtrapFactory = new MailtrapClientFactory("YOUR_API_KEY");
            var client = mailtrapFactory.CreateClient();
            var projectId = 12345;
            var project = await client
                .Account(YOUR_ACCOUNT_ID)
                .Project(projectId)
                .GetDetails();

            Console.WriteLine($"Project: {project.Name}");
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;

            var config = new MailtrapConfig.Builder()
                .token("YOUR_API_KEY")
                .build();

            var client = MailtrapClientFactory
                .createMailtrapClient(config);

            long projectId = 12345L;
            var project = client.testingApi().projects()
                .getProject(accountId, projectId);

            System.out.println("Project: " + project.getName());
        - lang: shell
          label: 'cURL'
          source: |
            curl -X GET https://mailtrap.io/api/accounts/{account_id}/projects/{project_id} \
              -H 'Authorization: Bearer YOUR_API_KEY'
    patch:
      summary: Update project
      description: Update project name. The project name is min 2 characters and max 100 characters long.
      tags:
        - Projects
      x-codeSamples:
        - lang: javascript
          label: Node.js
          source: |
            import { MailtrapClient } from "mailtrap";

            const client = new MailtrapClient({
              token: process.env.MAILTRAP_API_KEY,
              accountId: YOUR_ACCOUNT_ID
            });

            const projectId = 12345;
            const updatedProject = await client.testing.projects.update(
              projectId,
              "Updated Project Name"
            );

            console.log("Project updated:", updatedProject);
        - lang: php
          label: PHP
          source: |
            <?php
            use Mailtrap\Config;
            use Mailtrap\Helper\ResponseHelper;
            use Mailtrap\MailtrapSandboxClient;

            $config = new Config($_ENV['MAILTRAP_API_KEY']);
            $accountId = $_ENV['MAILTRAP_ACCOUNT_ID'];

            $sandboxProjects = (new MailtrapSandboxClient($config))
                ->projects($accountId);

            $projectId = $_ENV['MAILTRAP_PROJECT_ID'];
            $newProjectName = 'Updated Project Name';

            $response = $sandboxProjects->updateName($projectId, $newProjectName);
            var_dump(ResponseHelper::toArray($response));
        - lang: python
          label: Python
          source: |
            import mailtrap as mt

            client = mt.MailtrapClient(
                token="YOUR_API_KEY",
                account_id=YOUR_ACCOUNT_ID
            )

            # Update project
            project_id = 12345
            updated_project = client.testing_api.projects.update(
                project_id,
                mt.ProjectParams(name="Updated Project Name")
            )

            print(f"Project updated: {updated_project.name}")
        - lang: ruby
          label: Ruby
          source: |
            require 'mailtrap'

            client = Mailtrap::Client.new(api_key: 'YOUR_API_KEY')
            projects = Mailtrap::ProjectsAPI.new(
              YOUR_ACCOUNT_ID,
              client
            )

            # Update project
            project_id = 12345
            updated_project = projects.update(
              project_id,
              name: 'Updated Project Name'
            )

            puts "Project updated: #{updated_project.name}"
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;
            using Mailtrap.Projects.Requests;

            using var mailtrapFactory = new MailtrapClientFactory("YOUR_API_KEY");
            var client = mailtrapFactory.CreateClient();
            var projectId = 12345;
            var updateRequest = new UpdateProjectRequest("Updated Project Name");
            var updatedProject = await client
                .Account(YOUR_ACCOUNT_ID)
                .Project(projectId)
                .Update(updateRequest);

            Console.WriteLine($"Project updated: {updatedProject.Name}");
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;
            import io.mailtrap.model.request.projects.ProjectRequest;

            var config = new MailtrapConfig.Builder()
                .token("YOUR_API_KEY")
                .build();

            var client = MailtrapClientFactory
                .createMailtrapClient(config);

            long projectId = 12345L;
            var request = new ProjectRequest(
                new ProjectRequest.ProjectData("Updated Project Name")
            );

            var updatedProject = client.testingApi().projects()
                .updateProject(accountId, projectId, request);

            System.out.println("Project updated: " + updatedProject.getName());
        - lang: shell
          label: 'cURL'
          source: |
            curl -X PATCH https://mailtrap.io/api/accounts/{account_id}/projects/{project_id} \
              -H 'Authorization: Bearer YOUR_API_KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "project": {
                  "name": "Updated Project Name"
                }
              }'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                project:
                  type: object
                  properties:
                    name:
                      type: string
            example:
              project:
                name: New Project Name
      responses:
        '200':
          $ref: '#/components/responses/UpdateProjectResponse'
        '401':
          $ref: '#/components/responses/UNAUTHENTICATED'
        '403':
          $ref: '#/components/responses/PERMISSION_DENIED'
        '404':
          $ref: '#/components/responses/NOT_FOUND'
      operationId: updateProject
    delete:
      summary: Delete project
      description: Delete project and its inboxes.
      tags:
        - Projects
      x-codeSamples:
        - lang: javascript
          label: Node.js
          source: |
            import { MailtrapClient } from "mailtrap";

            const client = new MailtrapClient({
              token: process.env.MAILTRAP_API_KEY,
              accountId: YOUR_ACCOUNT_ID
            });

            const projectId = 12345;
            const result = await client.testing.projects.delete(projectId);

            console.log("Project deleted:", result);
        - lang: php
          label: PHP
          source: |
            <?php
            use Mailtrap\Config;
            use Mailtrap\MailtrapSandboxClient;

            $config = new Config($_ENV['MAILTRAP_API_KEY']);
            $accountId = $_ENV['MAILTRAP_ACCOUNT_ID'];

            $sandboxProjects = (new MailtrapSandboxClient($config))
                ->projects($accountId);

            $projectId = $_ENV['MAILTRAP_PROJECT_ID'];
            $response = $sandboxProjects->delete($projectId);
            var_dump($response->getStatusCode());
        - lang: python
          label: Python
          source: |
            import mailtrap as mt

            client = mt.MailtrapClient(
                token="YOUR_API_KEY",
                account_id=YOUR_ACCOUNT_ID
            )

            # Delete project
            project_id = 12345
            result = client.testing_api.projects.delete(project_id)

            print(f"Project deleted: {result.id}")
        - lang: ruby
          label: Ruby
          source: |
            require 'mailtrap'

            client = Mailtrap::Client.new(api_key: 'YOUR_API_KEY')
            projects = Mailtrap::ProjectsAPI.new(
              YOUR_ACCOUNT_ID,
              client
            )

            # Delete project
            project_id = 12345
            result = projects.delete(project_id)

            puts "Project deleted: #{result.id}"
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;

            using var mailtrapFactory = new MailtrapClientFactory("YOUR_API_KEY");
            var client = mailtrapFactory.CreateClient();
            var projectId = 12345;
            var deletedProject = await client
                .Account(YOUR_ACCOUNT_ID)
                .Project(projectId)
                .Delete();

            Console.WriteLine($"Project deleted: {deletedProject.Id}");
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;

            var config = new MailtrapConfig.Builder()
                .token("YOUR_API_KEY")
                .build();

            var client = MailtrapClientFactory
                .createMailtrapClient(config);

            long projectId = 12345L;
            var deletedProject = client.testingApi().projects()
                .deleteProject(accountId, projectId);

            System.out.println("Project deleted: " + deletedProject.getId());
        - lang: shell
          label: 'cURL'
          source: |
            curl -X DELETE https://mailtrap.io/api/accounts/{account_id}/projects/{project_id} \
              -H 'Authorization: Bearer YOUR_API_KEY'
      responses:
        '200':
          description: Returns id of the deleted project.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
              example:
                id: 4046
        '401':
          $ref: '#/components/responses/UNAUTHENTICATED'
        '403':
          $ref: '#/components/responses/PERMISSION_DENIED'
        '404':
          $ref: '#/components/responses/NOT_FOUND'
      operationId: deleteProject
    parameters:
      - $ref: '#/components/parameters/account_id'
      - $ref: '#/components/parameters/project_id'
  '/api/accounts/{account_id}/projects/{project_id}/inboxes':
    post:
      summary: Create an inbox
      description: Create an inbox in a project.
      tags:
        - Inboxes
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                inbox:
                  type: object
                  properties:
                    name:
                      type: string
            example:
              inbox:
                name: My new inbox
      responses:
        '200':
          $ref: '#/components/responses/InboxResponse'
        '401':
          $ref: '#/components/responses/UNAUTHENTICATED'
        '403':
          $ref: '#/components/responses/PERMISSION_DENIED'
        '404':
          $ref: '#/components/responses/NOT_FOUND'
      operationId: createInbox
      x-codeSamples:
        - lang: javascript
          label: Node.js
          source: |
            import { MailtrapClient } from "mailtrap";

            const client = new MailtrapClient({
              token: "YOUR_API_TOKEN",
              accountId: ACCOUNT_ID
            });

            const inbox = await client.testing.inboxes.create(
              projectId,
              'My Test Inbox'
            );

            console.log(`Inbox created: ${inbox.name}`);
            console.log(`SMTP credentials - User: ${inbox.username}`);
        - lang: php
          label: PHP
          source: |
            <?php
            use Mailtrap\Config;
            use Mailtrap\Helper\ResponseHelper;
            use Mailtrap\MailtrapSandboxClient;

            $config = new Config($_ENV['MAILTRAP_API_KEY']);
            $accountId = $_ENV['MAILTRAP_ACCOUNT_ID'];
            $projectId = $_ENV['MAILTRAP_PROJECT_ID'];

            $sandboxInboxes = (new MailtrapSandboxClient($config))
                ->inboxes($accountId);

            $response = $sandboxInboxes->create($projectId, 'My Test Inbox');
            var_dump(ResponseHelper::toArray($response));
        - lang: python
          label: Python
          source: |
            import mailtrap as mt

            client = mt.MailtrapClient(
                token="YOUR_API_TOKEN",
                account_id=ACCOUNT_ID
            )

            inbox = client.testing_api.inboxes.create(
                project_id=project_id,
                inbox_params=mt.InboxParams(name="My Test Inbox")
            )

            print(f"Inbox created: {inbox.name}")
            print(f"SMTP credentials - User: {inbox.username}")
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;
            using Mailtrap.Inboxes.Requests;

            using var mailtrapFactory = new MailtrapClientFactory("YOUR_API_KEY");
            var client = mailtrapFactory.CreateClient();

            var projectId = 12345;
            var inbox = await client
                .Account(YOUR_ACCOUNT_ID)
                .Inboxes()
                .Create(new CreateInboxRequest(projectId, "My Test Inbox"));

            Console.WriteLine($"Inbox created: {inbox.Name}");
            Console.WriteLine($"SMTP credentials - User: {inbox.UserName}");
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;
            import io.mailtrap.model.request.inbox.CreateInboxRequest;

            var config = new MailtrapConfig.Builder()
                .token("YOUR_API_TOKEN")
                .build();

            var client = MailtrapClientFactory
                .createMailtrapClient(config);

            var request = new CreateInboxRequest(
                new CreateInboxRequest.InboxCreateData("My Test Inbox")
            );

            long projectId = 12345L;
            var inbox = client.testingApi().inboxes()
                .createInbox(accountId, projectId, request);

            System.out.println("Inbox created: " + inbox.getName());
            System.out.println("SMTP credentials - User: " + inbox.getUsername());
        - lang: shell
          label: 'cURL'
          source: |
            curl -X POST https://mailtrap.io/api/accounts/{account_id}/projects/{project_id}/inboxes \
              -H 'Authorization: Bearer YOUR_API_KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "inbox": {
                  "name": "My Test Inbox"
                }
              }'
    parameters:
      - $ref: '#/components/parameters/account_id'
      - $ref: '#/components/parameters/project_id'
  '/api/accounts/{account_id}/inboxes/{inbox_id}':
    get:
      summary: Get inbox attributes
      description: Get inbox attributes by inbox id. See the list of attributes in the example
      tags:
        - Inboxes
      responses:
        '200':
          $ref: '#/components/responses/InboxResponse'
        '401':
          $ref: '#/components/responses/UNAUTHENTICATED'
        '403':
          $ref: '#/components/responses/PERMISSION_DENIED'
        '404':
          $ref: '#/components/responses/NOT_FOUND'
      x-codeSamples:
        - lang: javascript
          label: Node.js
          source: |
            const { MailtrapClient } = require("mailtrap");

            const TOKEN = "YOUR_API_KEY";
            const ACCOUNT_ID = "YOUR_ACCOUNT_ID";

            const client = new MailtrapClient({ token: TOKEN, accountId: ACCOUNT_ID });

            const inboxId = 12345;
            const inboxAttributes = await client.testing.inboxes.getInboxAttributes(inboxId);

            console.log(inboxAttributes);
        - lang: php
          label: PHP
          source: |
            <?php
            use Mailtrap\Config;
            use Mailtrap\Helper\ResponseHelper;
            use Mailtrap\MailtrapSandboxClient;

            $config = new Config($_ENV['MAILTRAP_API_KEY']);
            $accountId = $_ENV['MAILTRAP_ACCOUNT_ID'];

            $sandboxInboxes = (new MailtrapSandboxClient($config))
                ->inboxes($accountId);

            $inboxId = $_ENV['MAILTRAP_INBOX_ID'];
            $response = $sandboxInboxes->getInboxAttributes($inboxId);
            var_dump(ResponseHelper::toArray($response));
        - lang: python
          label: Python
          source: |
            import mailtrap as mt

            API_TOKEN = "YOUR_API_KEY"
            ACCOUNT_ID = "YOUR_ACCOUNT_ID"

            client = mt.MailtrapClient(token=API_TOKEN, account_id=ACCOUNT_ID)
            inboxes_api = client.testing_api.inboxes

            inbox_id = 12345
            inbox_attributes = inboxes_api.get_by_id(inbox_id)

            print(inbox_attributes)
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;

            using var mailtrapFactory = new MailtrapClientFactory("YOUR_API_KEY");
            var client = mailtrapFactory.CreateClient();
            var inboxId = 12345;
            var inbox = await client
                .Account(YOUR_ACCOUNT_ID)
                .Inbox(inboxId)
                .GetDetails();

            Console.WriteLine(inbox);
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;

            var config = new MailtrapConfig.Builder()
                .token("YOUR_API_KEY")
                .build();

            var client = MailtrapClientFactory
                .createMailtrapClient(config);

            long inboxId = 12345L;
            var inboxAttributes = client.testingApi().inboxes()
                .getInboxAttributes(accountId, inboxId);

            System.out.println(inboxAttributes);
        - lang: shell
          label: 'cURL'
          source: |
            curl -X GET https://mailtrap.io/api/accounts/{account_id}/inboxes/{inbox_id} \
              -H 'Authorization: Bearer YOUR_API_KEY'
      operationId: getInboxAttributes
    delete:
      summary: Delete an inbox
      description: Delete an inbox with all its emails.
      tags:
        - Inboxes
      responses:
        '200':
          $ref: '#/components/responses/InboxResponse'
        '401':
          $ref: '#/components/responses/UNAUTHENTICATED'
        '403':
          $ref: '#/components/responses/PERMISSION_DENIED'
        '404':
          $ref: '#/components/responses/NOT_FOUND'
      x-codeSamples:
        - lang: javascript
          label: Node.js
          source: |
            const { MailtrapClient } = require("mailtrap");

            const TOKEN = "YOUR_API_KEY";
            const ACCOUNT_ID = "YOUR_ACCOUNT_ID";

            const client = new MailtrapClient({ token: TOKEN, accountId: ACCOUNT_ID });

            const inboxId = 12345;
            const result = await client.testing.inboxes.delete(inboxId);

            console.log(result);
        - lang: php
          label: PHP
          source: |
            <?php
            use Mailtrap\Config;
            use Mailtrap\MailtrapSandboxClient;

            $config = new Config($_ENV['MAILTRAP_API_KEY']);
            $accountId = $_ENV['MAILTRAP_ACCOUNT_ID'];

            $sandboxInboxes = (new MailtrapSandboxClient($config))
                ->inboxes($accountId);

            $inboxId = $_ENV['MAILTRAP_INBOX_ID'];
            $response = $sandboxInboxes->delete($inboxId);
            var_dump($response->getStatusCode());
        - lang: python
          label: Python
          source: |
            import mailtrap as mt

            API_TOKEN = "YOUR_API_KEY"
            ACCOUNT_ID = "YOUR_ACCOUNT_ID"

            client = mt.MailtrapClient(token=API_TOKEN, account_id=ACCOUNT_ID)
            inboxes_api = client.testing_api.inboxes

            inbox_id = 12345
            result = inboxes_api.delete(inbox_id)

            print(result)
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;

            using var mailtrapFactory = new MailtrapClientFactory("YOUR_API_KEY");
            var client = mailtrapFactory.CreateClient();
            var inboxId = 12345;
            var deletedInbox = await client
                .Account(YOUR_ACCOUNT_ID)
                .Inbox(inboxId)
                .Delete();

            Console.WriteLine(deletedInbox);
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;

            var config = new MailtrapConfig.Builder()
                .token("YOUR_API_KEY")
                .build();

            var client = MailtrapClientFactory
                .createMailtrapClient(config);

            long inboxId = 12345L;
            var deletedInbox = client.testingApi().inboxes()
                .deleteInbox(ACCOUNT_ID, inboxId);

            System.out.println(deletedInbox);
        - lang: shell
          label: 'cURL'
          source: |
            curl -X DELETE https://mailtrap.io/api/accounts/{account_id}/inboxes/{inbox_id} \
              -H 'Authorization: Bearer YOUR_API_KEY'
      operationId: deleteInbox
    patch:
      summary: Update an inbox
      description: 'Update inbox name, inbox email username.'
      tags:
        - Inboxes
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                inbox:
                  type: object
                  properties:
                    name:
                      type: string
                    email_username:
                      type: string
            example:
              inbox:
                name: New Inbox Name
                email_username: my-username
      responses:
        '200':
          $ref: '#/components/responses/InboxResponse'
        '401':
          $ref: '#/components/responses/UNAUTHENTICATED'
        '403':
          $ref: '#/components/responses/PERMISSION_DENIED'
        '404':
          $ref: '#/components/responses/NOT_FOUND'
      x-codeSamples:
        - lang: javascript
          label: Node.js
          source: |
            const { MailtrapClient } = require("mailtrap");

            const TOKEN = "YOUR_API_KEY";
            const ACCOUNT_ID = "YOUR_ACCOUNT_ID";

            const client = new MailtrapClient({ token: TOKEN, accountId: ACCOUNT_ID });

            const inboxId = 12345;
            const updatedInbox = await client.testing.inboxes.updateInbox(
              inboxId,
              { name: 'Updated Inbox Name', emailUsername: 'new-username' }
            );

            console.log(updatedInbox);
        - lang: php
          label: PHP
          source: |
            <?php
            use Mailtrap\Config;
            use Mailtrap\DTO\Request\Inbox;
            use Mailtrap\Helper\ResponseHelper;
            use Mailtrap\MailtrapSandboxClient;

            $config = new Config($_ENV['MAILTRAP_API_KEY']);
            $accountId = $_ENV['MAILTRAP_ACCOUNT_ID'];

            $sandboxInboxes = (new MailtrapSandboxClient($config))
                ->inboxes($accountId);

            $inboxId = $_ENV['MAILTRAP_INBOX_ID'];
            $response = $sandboxInboxes->update(
                $inboxId,
                new Inbox('Updated Inbox Name', 'new-username')
            );

            var_dump(ResponseHelper::toArray($response));
        - lang: python
          label: Python
          source: |
            import mailtrap as mt

            API_TOKEN = "YOUR_API_KEY"
            ACCOUNT_ID = "YOUR_ACCOUNT_ID"

            client = mt.MailtrapClient(token=API_TOKEN, account_id=ACCOUNT_ID)
            inboxes_api = client.testing_api.inboxes

            inbox_id = 12345
            updated_inbox = inboxes_api.update(
                inbox_id,
                mt.UpdateInboxParams(name="Updated Inbox Name", email_username="new-username")
            )

            print(updated_inbox)
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;
            using Mailtrap.Inboxes.Requests;

            using var mailtrapFactory = new MailtrapClientFactory("YOUR_API_KEY");
            var client = mailtrapFactory.CreateClient();
            var inboxId = 12345;
            var updateRequest = new UpdateInboxRequest
            {
                Name = "Updated Inbox Name",
                EmailUsername = "new-username"
            };

            var updatedInbox = await client
                .Account(YOUR_ACCOUNT_ID)
                .Inbox(inboxId)
                .Update(updateRequest);

            Console.WriteLine(updatedInbox);
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;
            import io.mailtrap.model.request.inboxes.UpdateInboxRequest;

            var config = new MailtrapConfig.Builder()
                .token("YOUR_API_KEY")
                .build();

            var client = MailtrapClientFactory
                .createMailtrapClient(config);

            long inboxId = 12345L;
            var updateRequest = new UpdateInboxRequest(
                new UpdateInboxRequest.InboxUpdateData("Updated Inbox Name", "new-username")
            );

            var updatedInbox = client.testingApi().inboxes()
                .updateInbox(accountId, inboxId, updateRequest);

            System.out.println(updatedInbox);
        - lang: shell
          label: 'cURL'
          source: |
            curl -X PATCH https://mailtrap.io/api/accounts/{account_id}/inboxes/{inbox_id} \
              -H 'Authorization: Bearer YOUR_API_KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "inbox": {
                  "name": "Updated Inbox Name",
                  "email_username": "new-username"
                }
              }'
      operationId: updateInbox
    parameters:
      - $ref: '#/components/parameters/account_id'
      - $ref: '#/components/parameters/inbox_id'
  '/api/accounts/{account_id}/inboxes/{inbox_id}/clean':
    patch:
      summary: Clean inbox
      description: Delete all messages (emails) from inbox.
      tags:
        - Inboxes
      responses:
        '200':
          $ref: '#/components/responses/InboxResponse'
        '401':
          $ref: '#/components/responses/UNAUTHENTICATED'
        '403':
          $ref: '#/components/responses/PERMISSION_DENIED'
        '404':
          $ref: '#/components/responses/NOT_FOUND'
      x-codeSamples:
        - lang: javascript
          label: Node.js
          source: |
            const { MailtrapClient } = require("mailtrap");

            const TOKEN = "YOUR_API_KEY";
            const ACCOUNT_ID = "YOUR_ACCOUNT_ID";

            const client = new MailtrapClient({ token: TOKEN, accountId: ACCOUNT_ID });

            const inboxId = 12345;
            const result = await client.testing.inboxes.clean(inboxId);

            console.log(result);
        - lang: php
          label: PHP
          source: |
            <?php
            use Mailtrap\Config;
            use Mailtrap\Helper\ResponseHelper;
            use Mailtrap\MailtrapSandboxClient;

            $config = new Config($_ENV['MAILTRAP_API_KEY']);
            $accountId = $_ENV['MAILTRAP_ACCOUNT_ID'];

            $sandboxInboxes = (new MailtrapSandboxClient($config))
                ->inboxes($accountId);

            $inboxId = $_ENV['MAILTRAP_INBOX_ID'];
            $response = $sandboxInboxes->clean($inboxId);

            var_dump(ResponseHelper::toArray($response));
        - lang: python
          label: Python
          source: |
            import mailtrap as mt

            API_TOKEN = "YOUR_API_KEY"
            ACCOUNT_ID = "YOUR_ACCOUNT_ID"

            client = mt.MailtrapClient(token=API_TOKEN, account_id=ACCOUNT_ID)
            inboxes_api = client.testing_api.inboxes

            inbox_id = 12345
            result = inboxes_api.clean(inbox_id)

            print(result)
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;

            using var mailtrapFactory = new MailtrapClientFactory("YOUR_API_KEY");
            var client = mailtrapFactory.CreateClient();
            var inboxId = 12345;
            var cleanedInbox = await client
                .Account(YOUR_ACCOUNT_ID)
                .Inbox(inboxId)
                .Clean();

            Console.WriteLine(cleanedInbox);
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;

            var config = new MailtrapConfig.Builder()
                .token("YOUR_API_KEY")
                .build();

            var client = MailtrapClientFactory
                .createMailtrapClient(config);

            long inboxId = 12345L;
            var cleanedInbox = client.testingApi().inboxes()
                .cleanInbox(accountId, inboxId);

            System.out.println(cleanedInbox);
        - lang: shell
          label: 'cURL'
          source: |
            curl -X PATCH https://mailtrap.io/api/accounts/{account_id}/inboxes/{inbox_id}/clean \
              -H 'Authorization: Bearer YOUR_API_KEY'
      operationId: cleanInbox
    parameters:
      - $ref: '#/components/parameters/account_id'
      - $ref: '#/components/parameters/inbox_id'
  '/api/accounts/{account_id}/inboxes/{inbox_id}/all_read':
    patch:
      summary: Mark as read
      description: Mark all messages in the inbox as read.
      tags:
        - Inboxes
      responses:
        '200':
          $ref: '#/components/responses/InboxResponse'
        '401':
          $ref: '#/components/responses/UNAUTHENTICATED'
        '403':
          $ref: '#/components/responses/PERMISSION_DENIED'
        '404':
          $ref: '#/components/responses/NOT_FOUND'
      x-codeSamples:
        - lang: javascript
          label: Node.js
          source: |
            const { MailtrapClient } = require("mailtrap");

            const TOKEN = "YOUR_API_KEY";
            const ACCOUNT_ID = "YOUR_ACCOUNT_ID";

            const client = new MailtrapClient({ token: TOKEN, accountId: ACCOUNT_ID });

            const inboxId = 12345;
            const result = await client.testing.inboxes.markAsRead(inboxId);

            console.log(result);
        - lang: php
          label: PHP
          source: |
            <?php
            use Mailtrap\Config;
            use Mailtrap\Helper\ResponseHelper;
            use Mailtrap\MailtrapSandboxClient;

            $config = new Config($_ENV['MAILTRAP_API_KEY']);
            $accountId = $_ENV['MAILTRAP_ACCOUNT_ID'];

            $sandboxInboxes = (new MailtrapSandboxClient($config))
                ->inboxes($accountId);

            $inboxId = $_ENV['MAILTRAP_INBOX_ID'];
            $response = $sandboxInboxes->markAsRead($inboxId);
            
            var_dump(ResponseHelper::toArray($response));
        - lang: python
          label: Python
          source: |
            import mailtrap as mt

            API_TOKEN = "YOUR_API_KEY"
            ACCOUNT_ID = "YOUR_ACCOUNT_ID"

            client = mt.MailtrapClient(token=API_TOKEN, account_id=ACCOUNT_ID)
            inboxes_api = client.testing_api.inboxes

            inbox_id = 12345
            result = inboxes_api.mark_as_read(inbox_id)

            print(result)
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;

            using var mailtrapFactory = new MailtrapClientFactory("YOUR_API_KEY");
            var client = mailtrapFactory.CreateClient();
            var inboxId = 12345;
            var markedInbox = await client
                .Account(YOUR_ACCOUNT_ID)
                .Inbox(inboxId)
                .MarkAsRead();

            Console.WriteLine(markedInbox);
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;

            var config = new MailtrapConfig.Builder()
                .token("YOUR_API_KEY")
                .build();

            var client = MailtrapClientFactory
                .createMailtrapClient(config);

            long inboxId = 12345L;
            var markedInbox = client.testingApi().inboxes()
                .markAsRead(accountId, inboxId);

            System.out.println(markedInbox);
        - lang: shell
          label: 'cURL'
          source: |
            curl -X PATCH https://mailtrap.io/api/accounts/{account_id}/inboxes/{inbox_id}/all_read \
              -H 'Authorization: Bearer YOUR_API_KEY'
      operationId: markAsReadInbox
    parameters:
      - $ref: '#/components/parameters/account_id'
      - $ref: '#/components/parameters/inbox_id'
  '/api/accounts/{account_id}/inboxes/{inbox_id}/reset_credentials':
    patch:
      summary: Reset credentials
      description: Reset SMTP credentials of the inbox.
      tags:
        - Inboxes
      responses:
        '200':
          $ref: '#/components/responses/InboxResponse'
        '401':
          $ref: '#/components/responses/UNAUTHENTICATED'
        '403':
          $ref: '#/components/responses/PERMISSION_DENIED'
        '404':
          $ref: '#/components/responses/NOT_FOUND'
      x-codeSamples:
        - lang: javascript
          label: Node.js
          source: |
            const { MailtrapClient } = require("mailtrap");

            const TOKEN = "YOUR_API_KEY";
            const ACCOUNT_ID = "YOUR_ACCOUNT_ID";

            const client = new MailtrapClient({ token: TOKEN, accountId: ACCOUNT_ID });

            const inboxId = 12345;
            const result = await client.testing.inboxes.resetCredentials(inboxId);

            console.log(result);
        - lang: php
          label: PHP
          source: |
            <?php
            use Mailtrap\Config;
            use Mailtrap\Helper\ResponseHelper;
            use Mailtrap\MailtrapSandboxClient;

            $config = new Config($_ENV['MAILTRAP_API_KEY']);
            $accountId = $_ENV['MAILTRAP_ACCOUNT_ID'];

            $sandboxInboxes = (new MailtrapSandboxClient($config))
                ->inboxes($accountId);

            $inboxId = $_ENV['MAILTRAP_INBOX_ID'];
            $response = $sandboxInboxes->resetSmtpCredentials($inboxId);

            var_dump(ResponseHelper::toArray($response));
        - lang: python
          label: Python
          source: |
            import mailtrap as mt

            API_TOKEN = "YOUR_API_KEY"
            ACCOUNT_ID = "YOUR_ACCOUNT_ID"

            client = mt.MailtrapClient(token=API_TOKEN, account_id=ACCOUNT_ID)
            inboxes_api = client.testing_api.inboxes

            inbox_id = 12345
            result = inboxes_api.reset_credentials(inbox_id)

            print(result)
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;

            using var mailtrapFactory = new MailtrapClientFactory("YOUR_API_KEY");
            var client = mailtrapFactory.CreateClient();
            var inboxId = 12345;
            var updatedInbox = await client
                .Account(YOUR_ACCOUNT_ID)
                .Inbox(inboxId)
                .ResetCredentials();

            Console.WriteLine(updatedInbox);
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;

            var config = new MailtrapConfig.Builder()
                .token("YOUR_API_KEY")
                .build();

            var client = MailtrapClientFactory
                .createMailtrapClient(config);

            long inboxId = 12345L;
            var updatedInbox = client.testingApi().inboxes()
                .resetCredentials(accountId, inboxId);

            System.out.println(updatedInbox);
        - lang: shell
          label: 'cURL'
          source: |
            curl -X PATCH https://mailtrap.io/api/accounts/{account_id}/inboxes/{inbox_id}/reset_credentials \
              -H 'Authorization: Bearer YOUR_API_KEY'
      operationId: resetInboxCredentials
    parameters:
      - $ref: '#/components/parameters/account_id'
      - $ref: '#/components/parameters/inbox_id'
  '/api/accounts/{account_id}/inboxes/{inbox_id}/toggle_email_username':
    patch:
      summary: Enable email address
      description: Turn the email address of the inbox on/off.
      tags:
        - Inboxes
      responses:
        '200':
          $ref: '#/components/responses/InboxResponse'
        '401':
          $ref: '#/components/responses/UNAUTHENTICATED'
        '403':
          $ref: '#/components/responses/PERMISSION_DENIED'
        '404':
          $ref: '#/components/responses/NOT_FOUND'
      x-codeSamples:
        - lang: javascript
          label: Node.js
          source: |
            const { MailtrapClient } = require("mailtrap");

            const TOKEN = "YOUR_API_KEY";
            const ACCOUNT_ID = "YOUR_ACCOUNT_ID";

            const client = new MailtrapClient({ token: TOKEN, accountId: ACCOUNT_ID });

            const inboxId = 12345;
            const result = await client.testing.inboxes.enableEmailAddress(inboxId);

            console.log(result);
        - lang: php
          label: PHP
          source: |
            <?php
            use Mailtrap\Config;
            use Mailtrap\Helper\ResponseHelper;
            use Mailtrap\MailtrapSandboxClient;

            $config = new Config($_ENV['MAILTRAP_API_KEY']);
            $accountId = $_ENV['MAILTRAP_ACCOUNT_ID'];

            $sandboxInboxes = (new MailtrapSandboxClient($config))
                ->inboxes($accountId);

            $inboxId = $_ENV['MAILTRAP_INBOX_ID'];
            $response = $sandboxInboxes->toggleEmailAddress($inboxId);

            var_dump(ResponseHelper::toArray($response));
        - lang: python
          label: Python
          source: |
            import mailtrap as mt

            API_TOKEN = "YOUR_API_KEY"
            ACCOUNT_ID = "YOUR_ACCOUNT_ID"

            client = mt.MailtrapClient(token=API_TOKEN, account_id=ACCOUNT_ID)
            inboxes_api = client.testing_api.inboxes

            inbox_id = 12345
            result = inboxes_api.enable_email_address(inbox_id)

            print(result)
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;

            using var mailtrapFactory = new MailtrapClientFactory("YOUR_API_KEY");
            var client = mailtrapFactory.CreateClient();
            var inboxId = 12345;
            var updatedInbox = await client
                .Account(YOUR_ACCOUNT_ID)
                .Inbox(inboxId)
                .ToggleEmailAddress();

            Console.WriteLine(updatedInbox);
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;

            var config = new MailtrapConfig.Builder()
                .token("YOUR_API_KEY")
                .build();

            var client = MailtrapClientFactory
                .createMailtrapClient(config);

            long inboxId = 12345L;
            var updatedInbox = client.testingApi().inboxes()
                .enableEmailAddress(accountId, inboxId);

            System.out.println(updatedInbox);
        - lang: shell
          label: 'cURL'
          source: |
            curl -X PATCH https://mailtrap.io/api/accounts/{account_id}/inboxes/{inbox_id}/toggle_email_username \
              -H 'Authorization: Bearer YOUR_API_KEY'
      operationId: enableInboxEmailAddresses
    parameters:
      - $ref: '#/components/parameters/account_id'
      - $ref: '#/components/parameters/inbox_id'
  '/api/accounts/{account_id}/inboxes/{inbox_id}/reset_email_username':
    patch:
      summary: Reset email address
      description: Reset username of email address per inbox.
      tags:
        - Inboxes
      responses:
        '200':
          $ref: '#/components/responses/InboxResponse'
        '401':
          $ref: '#/components/responses/UNAUTHENTICATED'
        '403':
          $ref: '#/components/responses/PERMISSION_DENIED'
        '404':
          $ref: '#/components/responses/NOT_FOUND'
      x-codeSamples:
        - lang: javascript
          label: Node.js
          source: |
            const { MailtrapClient } = require("mailtrap");

            const TOKEN = "YOUR_API_KEY";
            const ACCOUNT_ID = "YOUR_ACCOUNT_ID";

            const client = new MailtrapClient({ token: TOKEN, accountId: ACCOUNT_ID });

            const inboxId = 12345;
            const result = await client.testing.inboxes.resetEmailAddress(inboxId);

            console.log(result);
        - lang: php
          label: PHP
          source: |
            <?php
            use Mailtrap\Config;
            use Mailtrap\Helper\ResponseHelper;
            use Mailtrap\MailtrapSandboxClient;

            $config = new Config($_ENV['MAILTRAP_API_KEY']);
            $accountId = $_ENV['MAILTRAP_ACCOUNT_ID'];

            $sandboxInboxes = (new MailtrapSandboxClient($config))
                ->inboxes($accountId);

            $inboxId = $_ENV['MAILTRAP_INBOX_ID'];
            $response = $sandboxInboxes->resetEmailAddress($inboxId);

            var_dump(ResponseHelper::toArray($response));
        - lang: python
          label: Python
          source: |
            import mailtrap as mt

            API_TOKEN = "YOUR_API_KEY"
            ACCOUNT_ID = "YOUR_ACCOUNT_ID"

            client = mt.MailtrapClient(token=API_TOKEN, account_id=ACCOUNT_ID)
            inboxes_api = client.testing_api.inboxes

            inbox_id = 12345
            result = inboxes_api.reset_email_username(inbox_id)

            print(result)
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;

            using var mailtrapFactory = new MailtrapClientFactory("YOUR_API_KEY");
            var client = mailtrapFactory.CreateClient();

            var inboxId = 12345;
            var updatedInbox = await client
                .Account(YOUR_ACCOUNT_ID)
                .Inbox(inboxId)
                .ResetEmailAddress();

            Console.WriteLine(updatedInbox);
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;

            var config = new MailtrapConfig.Builder()
                .token("YOUR_API_KEY")
                .build();

            var client = MailtrapClientFactory
                .createMailtrapClient(config);

            long inboxId = 12345L;
            var updatedInbox = client.testingApi().inboxes()
                .resetEmailAddresses(accountId, inboxId);

            System.out.println(updatedInbox);
        - lang: shell
          label: 'cURL'
          source: |
            curl -X PATCH https://mailtrap.io/api/accounts/{account_id}/inboxes/{inbox_id}/reset_email_username \
              -H 'Authorization: Bearer YOUR_API_KEY'
      operationId: resetEmailUserNamePerInbox
    parameters:
      - $ref: '#/components/parameters/account_id'
      - $ref: '#/components/parameters/inbox_id'
  '/api/accounts/{account_id}/inboxes':
    get:
      summary: Get a list of inboxes
      description: Get a list of inboxes.
      tags:
        - Inboxes
      responses:
        '200':
          $ref: '#/components/responses/InboxesResponse'
        '401':
          $ref: '#/components/responses/UNAUTHENTICATED'
        '403':
          $ref: '#/components/responses/PERMISSION_DENIED'
      x-codeSamples:
        - lang: javascript
          label: Node.js
          source: |
            const { MailtrapClient } = require("mailtrap");

            const TOKEN = "YOUR_API_KEY";
            const ACCOUNT_ID = "YOUR_ACCOUNT_ID";

            const client = new MailtrapClient({ token: TOKEN, accountId: ACCOUNT_ID });

            const inboxes = await client.testing.inboxes.getList();

            console.log(inboxes);
        - lang: php
          label: PHP
          source: |
            <?php
            use Mailtrap\Config;
            use Mailtrap\Helper\ResponseHelper;
            use Mailtrap\MailtrapSandboxClient;

            $config = new Config($_ENV['MAILTRAP_API_KEY']);
            $accountId = $_ENV['MAILTRAP_ACCOUNT_ID'];

            $sandboxInboxes = (new MailtrapSandboxClient($config))
                ->inboxes($accountId);

            $response = $sandboxInboxes->getList();
            var_dump(ResponseHelper::toArray($response));
        - lang: python
          label: Python
          source: |
            import mailtrap as mt

            API_TOKEN = "YOUR_API_KEY"
            ACCOUNT_ID = "YOUR_ACCOUNT_ID"

            client = mt.MailtrapClient(token=API_TOKEN, account_id=ACCOUNT_ID)
            inboxes_api = client.testing_api.inboxes

            inboxes = inboxes_api.get_list()

            print(inboxes)
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;

            using var mailtrapFactory = new MailtrapClientFactory("YOUR_API_KEY");
            var client = mailtrapFactory.CreateClient();
            var inboxes = await client
                .Account(YOUR_ACCOUNT_ID)
                .Inboxes()
                .GetAll();

            Console.WriteLine(inboxes);
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;

            var config = new MailtrapConfig.Builder()
                .token("YOUR_API_KEY")
                .build();

            var client = MailtrapClientFactory
                .createMailtrapClient(config);

            var inboxes = client.testingApi().inboxes()
                .getInboxes(accountId);

            System.out.println(inboxes);
        - lang: shell
          label: 'cURL'
          source: |
            curl -X GET https://mailtrap.io/api/accounts/{account_id}/inboxes \
              -H 'Authorization: Bearer YOUR_API_KEY'
      operationId: getInboxes
    parameters:
      - $ref: '#/components/parameters/account_id'
  '/api/send/{inbox_id}':
    servers:
      - description: Mailtrap Sandbox API mail server
        url: 'https://sandbox.api.mailtrap.io'
    post:
      description: Send email message to the specified inbox.
      operationId: sendEmail
      summary: Send email (including templates)
      tags:
        - Test Emails
      x-codeSamples:
        - lang: javascript
          label: Node.js
          source: |
            import { MailtrapClient } from "mailtrap";

            const client = new MailtrapClient({
              token: "YOUR_API_TOKEN",
              testInboxId: TEST_INBOX_ID,
              sandbox: true
            });

            await client.send({
              from: { email: "test@example.com", name: "Test Sender" },
              to: [{ email: "user@example.com", name: "Test User" }],
              subject: "Test Email",
              text: "This is a test email for sandbox.",
              html: "<p>This is a <b>test email</b> for sandbox.</p>"
            });
        - lang: php
          label: PHP
          source: |
            <?php
            use Mailtrap\Helper\ResponseHelper;
            use Mailtrap\MailtrapClient;
            use Mailtrap\Mime\MailtrapEmail;
            use Symfony\Component\Mime\Address;

            $mailtrap = MailtrapClient::initSendingEmails(
                apiKey: $_ENV['MAILTRAP_API_KEY'],
                isSandbox: true,
                inboxId: $_ENV['MAILTRAP_INBOX_ID']
            );

            $email = (new MailtrapEmail())
                ->from(new Address('test@example.com', 'Test Sender'))
                ->to(new Address('user@example.com', 'Test User'))
                ->subject('Test Email')
                ->text('This is a test email for sandbox.')
                ->html('<p>This is a <b>test email</b> for sandbox.</p>');

            $response = $mailtrap->send($email);

            var_dump(ResponseHelper::toArray($response));
        - lang: python
          label: Python
          source: |
            import mailtrap as mt

            client = mt.MailtrapClient(
                token="YOUR_API_TOKEN",
                sandbox=True,
                inbox_id=TEST_INBOX_ID
            )

            mail = mt.Mail(
                sender=mt.Address(email="test@example.com", name="Test Sender"),
                to=[mt.Address(email="user@example.com", name="Test User")],
                subject="Test Email",
                text="This is a test email for sandbox.",
                html="<p>This is a <b>test email</b> for sandbox.</p>"
            )

            client.send(mail)
        - lang: ruby
          label: Ruby
          source: |
            require 'mailtrap'

            client = Mailtrap::Client.new(api_key: 'YOUR_API_TOKEN', sandbox: true, inbox_id: TEST_INBOX_ID)

            mail = Mailtrap::Mail.new(
              from: { email: 'test@example.com', name: 'Test Sender' },
              to: [{ email: 'user@example.com', name: 'Test User' }],
              subject: 'Test Email',
              text: 'This is a test email for sandbox.',
              html: '<p>This is a <b>test email</b> for sandbox.</p>'
            )

            client.send(mail)
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;
            using Mailtrap.Configuration;
            using Mailtrap.Emails.Requests;

            var options = new MailtrapClientOptions
            {
                ApiToken = "YOUR_API_KEY",
                InboxId = TEST_INBOX_ID // Sandbox inbox ID
            };
            using var mailtrapFactory = new MailtrapClientFactory(options);
            var client = mailtrapFactory.CreateClient();

            var email = SendEmailRequest.Create()
                .From("test@example.com", "Test Sender")
                .To("user@example.com", "Test User")
                .Subject("Test Email")
                .Text("This is a test email for sandbox.")
                .Html("<p>This is a <b>test email</b> for sandbox.</p>");

            await client
                .Email()
                .Send(email);

            // Or using test email client directly
            await client
                .Test(TEST_INBOX_ID)
                .Send(email);
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;
            import io.mailtrap.model.request.emails.Address;
            import io.mailtrap.model.request.emails.MailtrapMail;
            import java.util.List;

            var config = new MailtrapConfig.Builder()
                .token("YOUR_API_TOKEN")
                .inboxId(TEST_INBOX_ID)
                .build();

            var client = MailtrapClientFactory
                .createMailtrapClient(config);

            var mail = MailtrapMail.builder()
                .from(new Address("Test Sender", "test@example.com"))
                .to(List.of(new Address("Test User", "user@example.com")))
                .subject("Test Email")
                .text("This is a test email for sandbox.")
                .html("<p>This is a <b>test email</b> for sandbox.</p>")
                .build();

            client.testingApi().emails().send(mail, config.getInboxId());
        - lang: shell
          label: 'cURL'
          source: |
            curl -X POST https://sandbox.api.mailtrap.io/api/send/{inbox_id} \
              -H 'Authorization: Bearer YOUR_API_KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "from": {"email": "sender@example.com"},
                "to": [{"email": "recipient@example.com"}],
                "subject": "Test Email",
                "text": "This is a test email sent to sandbox"
              }'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/EmailWithText'
                - $ref: '#/components/schemas/EmailWithHtml'
                - $ref: '#/components/schemas/EmailWithTextAndHtml'
                - $ref: '#/components/schemas/EmailFromTemplate'
      responses:
        '200':
          description: Success. Message has been delivered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SentResponse'
        '400':
          description: Bad request. Fix errors listed in response before retrying.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendEmailErrorResponse'
        '401':
          description: Unauthorized. Make sure you are sending correct credentials with the request before retrying.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendEmailErrorResponse'
        '429':
          description: Billing plan limit exhausted or inbox rate limit exceeded (see the response for details).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendEmailErrorResponse'
        '500':
          description: Internal error. Mail was not delivered. Retry later or contact support.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendEmailErrorResponse'
    parameters:
      - $ref: '#/components/parameters/inbox_id'
  '/api/batch/{inbox_id}':
    servers:
      - description: Mailtrap Sandbox API mail server
        url: 'https://sandbox.api.mailtrap.io'
    post:
      description: |
        Batch send email (text, html, text&html, templates). Please note that the endpoint will return a 200-level http status, even when sending for individual messages may fail. Users of this endpoint should check the success and errors for each message in the response (the results are ordered the same as the original messages - `requests`). Please note that the endpoint accepts up to 500 messages per API call, and up to 50 MB payload size, including attachments.
      operationId: batchSendEmail
      summary: Batch send email (including templates)
      tags:
        - Test Emails
      x-codeSamples:
        - lang: javascript
          label: Node.js
          source: |
            const { MailtrapClient } = require("mailtrap");

            const TOKEN = "YOUR_API_KEY";
            const TEST_INBOX_ID = 12345;

            const client = new MailtrapClient({
              token: TOKEN,
              sandbox: true,
              testInboxId: TEST_INBOX_ID
            });

            client.batchSend({
              base: {
                from: { name: "Test Sender", email: "sender@example.com" },
                subject: "Batch Email",
                text: "Batch email content"
              },
              requests: [
                {
                  to: [{ email: "recipient1@example.com" }],
                  custom_variables: { user_id: 1 }
                },
                {
                  to: [{ email: "recipient2@example.com" }],
                  custom_variables: { user_id: 2 }
                }
              ]
            })
              .then(console.log)
              .catch(console.error);
        - lang: php
          label: PHP
          source: |
            <?php
            use Mailtrap\Helper\ResponseHelper;
            use Mailtrap\MailtrapClient;
            use Mailtrap\Mime\MailtrapEmail;
            use Symfony\Component\Mime\Address;

            $mailtrap = MailtrapClient::initSendingEmails(
                apiKey: $_ENV['MAILTRAP_API_KEY'],
                isSandbox: true,
                inboxId: $_ENV['MAILTRAP_INBOX_ID']
            );

            $baseEmail = (new MailtrapEmail())
                ->from(new Address('sender@example.com', 'Test Sender'))
                ->subject('Batch Email')
                ->text('Batch email content');

            $recipientEmails = [
                (new MailtrapEmail())->to(new Address('recipient1@example.com', 'Recipient 1')),
                (new MailtrapEmail())->to(new Address('recipient2@example.com', 'Recipient 2')),
            ];

            $response = $mailtrap->batchSend($recipientEmails, $baseEmail);

            var_dump(ResponseHelper::toArray($response));
        - lang: python
          label: Python
          source: |
            import mailtrap as mt

            API_TOKEN = "YOUR_API_KEY"
            INBOX_ID = 12345

            client = mt.MailtrapClient(
                token=API_TOKEN,
                sandbox=True,
                inbox_id=INBOX_ID
            )

            batch_mail = mt.BatchSendEmailParams(
                base=mt.BatchMail(
                    sender=mt.Address(email="sender@example.com", name="Test Sender"),
                    subject="Batch Email",
                    text="Batch email content",
                ),
                requests=[
                    mt.BatchEmailRequest(
                        to=[mt.Address(email="recipient1@example.com")],
                    ),
                    mt.BatchEmailRequest(
                        to=[mt.Address(email="recipient2@example.com")],
                    ),
                ],
            )

            result = client.batch_send(batch_mail)
            print(result)
        - lang: ruby
          label: Ruby
          source: |
            require 'mailtrap'

            client = Mailtrap::Client.new(
              api_key: 'YOUR_API_KEY',
              sandbox: true,
              inbox_id: 12345
            )

            base_mail = {
              from: { email: 'sender@example.com', name: 'Test Sender' },
              subject: 'Batch Email',
              text: 'Batch email content'
            }

            requests = [
              { to: [{ email: 'recipient1@example.com' }] },
              { to: [{ email: 'recipient2@example.com' }] }
            ]

            result = client.batch_send(base: base_mail, requests: requests)
            puts result
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;
            using Mailtrap.Emails.Requests;
            using Mailtrap.Emails.Models;

            var options = new MailtrapClientOptions
            {
                ApiToken = "YOUR_API_KEY",
                InboxId = TEST_INBOX_ID // Specify Sandbox inbox ID to send test emails
            };
            using var mailtrapFactory = new MailtrapClientFactory(options);
            var client = mailtrapFactory.CreateClient();

            var request = BatchEmailRequest
                .Create()
                .Base(b => b
                    .From("sender@example.com", "Test Sender")
                    .Subject("Batch Email")
                    .Text("Batch email content"))
                .Requests(
                    SendEmailRequest.Create()
                        .To("recipient1@example.com"),
                    SendEmailRequest.Create()
                        .To("recipient2@example.com")
                );

            var response = await client
                .BatchEmail()
                .Send(request);

            Console.WriteLine(response);

            // Or using test email client directly
            response = await client
                .BatchTest(TEST_INBOX_ID)
                .Send(request);

            Console.WriteLine(response);
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;
            import io.mailtrap.model.request.emails.Address;
            import io.mailtrap.model.request.emails.MailtrapBatchMail;
            import io.mailtrap.model.request.emails.BatchEmailBase;
            import io.mailtrap.model.request.emails.MailtrapMail;
            import java.util.List;

            var config = new MailtrapConfig.Builder()
                .token("YOUR_API_KEY")
                .inboxId(12345L)
                .build();

            var client = MailtrapClientFactory.createMailtrapClient(config);

            var mail = MailtrapMail.builder()
                .from(new Address("Test Sender", "sender@example.com"))
                .to(List.of(new Address("Recipient", "recipient@example.com")))
                .subject("Batch Email")
                .text("Batch email content")
                .build();

            var batchMail = MailtrapBatchMail.builder()
                .base(BatchEmailBase.builder()
                    .from(new Address("Test Sender", "sender@example.com"))
                    .subject("Batch Email")
                    .build())
                .requests(List.of(mail))
                .build();

            var response = client.testingApi().emails()
                .batchSend(batchMail, config.getInboxId());

            System.out.println(response);
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchEmail'
      responses:
        '200':
          description: Success. Check individual `responses` if messages have been delivered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchSentResponse'
        '400':
          description: Bad request. Fix errors listed in response before retrying.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendEmailErrorResponse'
        '401':
          description: Unauthorized. Make sure you are sending correct credentials with the request before retrying.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendEmailErrorResponse'
        '500':
          description: Internal error. Messages were not delivered. Retry later or contact support.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendEmailErrorResponse'
    parameters:
      - $ref: '#/components/parameters/inbox_id'
  '/api/accounts/{account_id}/inboxes/{inbox_id}/messages/{message_id}':
    get:
      summary: Show email message
      description: Get email message by ID.
      tags:
        - Messages
      responses:
        '200':
          description: Returns email message with its attributes.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/InboxMessageWithoutBlacklistsReportInfo'
                  - $ref: '#/components/schemas/InboxMessageWithBlacklistsReportInfo'
              example:
                id: 2323
                inbox_id: 17002
                subject: Test email
                sent_at: '2022-07-01T19:29:59.295Z'
                from_email: john@mailtrap.io
                from_name: John
                to_email: mary@mailtrap.io
                to_name: Mary
                email_size: 300
                is_read: false
                created_at: '2022-07-01T19:29:59.295Z'
                updated_at: '2022-07-01T19:29:59.295Z'
                html_body_size: 150
                text_body_size: 100
                human_size: 300 Bytes
                html_path: /api/accounts/16297/inboxes/17002/messages/2323/body.html
                txt_path: /api/accounts/16297/inboxes/17002/messages/2323/body.txt
                raw_path: /api/accounts/16297/inboxes/17002/messages/2323/body.raw
                download_path: /api/accounts/16297/inboxes/17002/messages/2323/body.eml
                html_source_path: /api/accounts/16297/inboxes/17002/messages/2323/body.htmlsource
                blacklists_report_info: false
                smtp_information:
                  ok: true
                  data:
                    mail_from_addr: john@mailtrap.io
                    client_ip: 193.62.62.184
        '401':
          $ref: '#/components/responses/UNAUTHENTICATED'
        '403':
          description: Returns forbidden error message. Check your permissions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: string
                    example: Inbox is not active or you have insufficient permissions
        '404':
          $ref: '#/components/responses/NOT_FOUND'
      x-codeSamples:
        - lang: javascript
          label: Node.js
          source: |
            const { MailtrapClient } = require("mailtrap");

            const TOKEN = "YOUR_API_KEY";
            const ACCOUNT_ID = "YOUR_ACCOUNT_ID";

            const client = new MailtrapClient({ token: TOKEN, accountId: ACCOUNT_ID });

            const inboxId = 12345;
            const messageId = 67890;

            const message = await client.testing.messages.showEmailMessage(inboxId, messageId);

            console.log(message);
        - lang: php
          label: PHP
          source: |
            <?php
            use Mailtrap\Config;
            use Mailtrap\Helper\ResponseHelper;
            use Mailtrap\MailtrapSandboxClient;

            $config = new Config($_ENV['MAILTRAP_API_KEY']);
            $accountId = $_ENV['MAILTRAP_ACCOUNT_ID'];
            $inboxId = $_ENV['MAILTRAP_INBOX_ID'];

            $sandboxMessages = (new MailtrapSandboxClient($config))
                ->messages($accountId, $inboxId);

            $messageId = $_ENV['MAILTRAP_MESSAGE_ID'];
            $response = $sandboxMessages->getById($messageId);

            var_dump(ResponseHelper::toArray($response));
        - lang: python
          label: Python
          source: |
            import mailtrap as mt

            API_TOKEN = "YOUR_API_KEY"
            ACCOUNT_ID = "YOUR_ACCOUNT_ID"

            client = mt.MailtrapClient(token=API_TOKEN, account_id=ACCOUNT_ID)
            messages_api = client.testing_api.messages

            inbox_id = 12345
            message_id = 67890

            message = messages_api.show_message(inbox_id=inbox_id, message_id=message_id)

            print(message)
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;

            using var mailtrapFactory = new MailtrapClientFactory("YOUR_API_KEY");
            var client = mailtrapFactory.CreateClient();
            var inboxId = 54321;
            var messageId = 67890;
            var message = await client
                .Account(YOUR_ACCOUNT_ID)
                .Inbox(inboxId)
                .Message(messageId)
                .GetDetails();

            Console.WriteLine(message);
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;

            var config = new MailtrapConfig.Builder()
                .token("YOUR_API_KEY")
                .build();

            var client = MailtrapClientFactory
                .createMailtrapClient(config);

            long inboxId = 12345L;
            long messageId = 67890L;

            var message = client.testingApi().messages()
                .getMessage(accountId, inboxId, messageId);

            System.out.println(message);
      operationId: showInboxEmailMessage
    patch:
      summary: Update message
      description: Update message attributes (right now only the **is_read** attribute is available for modification).
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: object
                  properties:
                    is_read:
                      type: string
            example:
              message:
                is_read: 'false'
      responses:
        '200':
          description: Returns attributes of the updated message.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  inbox_id:
                    type: integer
                  subject:
                    type: string
                  sent_at:
                    type: string
                  from_email:
                    type: string
                  from_name:
                    type: string
                  to_email:
                    type: string
                  to_name:
                    type: string
                  email_size:
                    type: integer
                  is_read:
                    type: boolean
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  html_body_size:
                    type: integer
                  text_body_size:
                    type: integer
                  human_size:
                    type: string
                  html_path:
                    type: string
                  txt_path:
                    type: string
                  raw_path:
                    type: string
                  download_path:
                    type: string
                  html_source_path:
                    type: string
                  blacklists_report_info:
                    type: boolean
                  smtp_information:
                    type: object
                    properties:
                      ok:
                        type: boolean
                      data:
                        type: object
                        properties:
                          mail_from_addr:
                            type: string
                          client_ip:
                            type: string
              example:
                id: 427
                inbox_id: 4324
                subject: Test email
                sent_at: '2022-06-02T19:24:08.941Z'
                from_email: john@mailtrap.io
                from_name: John
                to_email: mary@mailtrap.io
                to_name: Mary
                email_size: 300
                is_read: false
                created_at: '2022-06-02T19:24:08.942Z'
                updated_at: '2022-06-02T19:24:08.942Z'
                html_body_size: 150
                text_body_size: 100
                human_size: 300 Bytes
                html_path: /api/accounts/3761/inboxes/4324/messages/427/body.html
                txt_path: /api/accounts/3761/inboxes/4324/messages/427/body.txt
                raw_path: /api/accounts/3761/inboxes/4324/messages/427/body.raw
                download_path: /api/accounts/3761/inboxes/4324/messages/427/body.eml
                html_source_path: /api/accounts/3761/inboxes/4324/messages/427/body.htmlsource
                blacklists_report_info: false
                smtp_information:
                  ok: true
                  data:
                    mail_from_addr: john@mailtrap.io
                    client_ip: 193.62.62.184
        '401':
          $ref: '#/components/responses/UNAUTHENTICATED'
        '403':
          description: Returns forbidden error message. Check your permissions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: string
                    example: Inbox is not active or you have insufficient permissions
        '404':
          $ref: '#/components/responses/NOT_FOUND'
      x-codeSamples:
        - lang: javascript
          label: Node.js
          source: |
            const { MailtrapClient } = require("mailtrap");

            const TOKEN = "YOUR_API_KEY";
            const ACCOUNT_ID = "YOUR_ACCOUNT_ID";

            const client = new MailtrapClient({ token: TOKEN, accountId: ACCOUNT_ID });

            const inboxId = 12345;
            const messageId = 67890;

            const updatedMessage = await client.testing.messages.updateMessage(
              inboxId,
              messageId,
              { isRead: true }
            );

            console.log(updatedMessage);
        - lang: php
          label: PHP
          source: |
            <?php
            use Mailtrap\Config;
            use Mailtrap\Helper\ResponseHelper;
            use Mailtrap\MailtrapSandboxClient;

            $config = new Config($_ENV['MAILTRAP_API_KEY']);
            $accountId = $_ENV['MAILTRAP_ACCOUNT_ID'];
            $inboxId = $_ENV['MAILTRAP_INBOX_ID'];

            $sandboxMessages = (new MailtrapSandboxClient($config))
                ->messages($accountId, $inboxId);

            $messageId = $_ENV['MAILTRAP_MESSAGE_ID'];
            $response = $sandboxMessages->markAsRead($messageId);

            var_dump(ResponseHelper::toArray($response));
        - lang: python
          label: Python
          source: |
            import mailtrap as mt

            API_TOKEN = "YOUR_API_KEY"
            ACCOUNT_ID = "YOUR_ACCOUNT_ID"

            client = mt.MailtrapClient(token=API_TOKEN, account_id=ACCOUNT_ID)
            messages_api = client.testing_api.messages

            inbox_id = 12345
            message_id = 67890

            updated_message = messages_api.update(
                inbox_id=inbox_id,
                message_id=message_id,
                message_params=mt.UpdateEmailMessageParams(is_read=True)
            )

            print(updated_message)
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;
            using Mailtrap.TestingMessages.Requests;

            using var mailtrapFactory = new MailtrapClientFactory("YOUR_API_KEY");
            var client = mailtrapFactory.CreateClient();
            var inboxId = 54321;
            var messageId = 67890;
            var updateRequest = new UpdateTestingMessageRequest(true);
            var updatedMessage = await client
                .Account(YOUR_ACCOUNT_ID)
                .Inbox(inboxId)
                .Message(messageId)
                .Update(updateRequest);

            Console.WriteLine(updatedMessage);
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;
            import io.mailtrap.model.request.messages.UpdateMessageRequest;

            var config = new MailtrapConfig.Builder()
                .token("YOUR_API_KEY")
                .build();

            var client = MailtrapClientFactory
                .createMailtrapClient(config);

            long inboxId = 12345L;
            long messageId = 67890L;

            var updateRequest = new UpdateMessageRequest(
                new UpdateMessageRequest.MessageUpdateData("true")
            );

            var updatedMessage = client.testingApi().messages()
                .updateMessage(accountId, inboxId, messageId, updateRequest);

            System.out.println(updatedMessage);
      operationId: updateInboxEmailMessage
    delete:
      summary: Delete message
      description: Delete message from inbox.
      tags:
        - Messages
      responses:
        '200':
          description: Returns attributes of the deleted message.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  inbox_id:
                    type: integer
                  subject:
                    type: string
                  sent_at:
                    type: string
                  from_email:
                    type: string
                  from_name:
                    type: string
                  to_email:
                    type: string
                  to_name:
                    type: string
                  email_size:
                    type: integer
                  is_read:
                    type: boolean
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  html_body_size:
                    type: integer
                  text_body_size:
                    type: integer
                  human_size:
                    type: string
                  html_path:
                    type: string
                  txt_path:
                    type: string
                  raw_path:
                    type: string
                  download_path:
                    type: string
                  html_source_path:
                    type: string
                  blacklists_report_info:
                    type: boolean
                  smtp_information:
                    type: object
                    properties:
                      ok:
                        type: boolean
                      data:
                        type: object
                        properties:
                          mail_from_addr:
                            type: string
                          client_ip:
                            type: string
              example:
                id: 433
                inbox_id: 4338
                subject: Test email
                sent_at: '2022-06-02T19:24:10.746Z'
                from_email: john@mailtrap.io
                from_name: John
                to_email: mary@mailtrap.io
                to_name: Mary
                email_size: 300
                is_read: false
                created_at: '2022-06-02T19:24:10.747Z'
                updated_at: '2022-06-02T19:24:10.747Z'
                html_body_size: 150
                text_body_size: 100
                human_size: 300 Bytes
                html_path: /api/accounts/3775/inboxes/4338/messages/433/body.html
                txt_path: /api/accounts/3775/inboxes/4338/messages/433/body.txt
                raw_path: /api/accounts/3775/inboxes/4338/messages/433/body.raw
                download_path: /api/accounts/3775/inboxes/4338/messages/433/body.eml
                html_source_path: /api/accounts/3775/inboxes/4338/messages/433/body.htmlsource
                blacklists_report_info: false
                smtp_information:
                  ok: true
                  data:
                    mail_from_addr: john@mailtrap.io
                    client_ip: 193.62.62.184
        '401':
          $ref: '#/components/responses/UNAUTHENTICATED'
        '403':
          $ref: '#/components/responses/PERMISSION_DENIED'
        '404':
          $ref: '#/components/responses/NOT_FOUND'
      x-codeSamples:
        - lang: javascript
          label: Node.js
          source: |
            const { MailtrapClient } = require("mailtrap");

            const TOKEN = "YOUR_API_KEY";
            const ACCOUNT_ID = "YOUR_ACCOUNT_ID";

            const client = new MailtrapClient({ token: TOKEN, accountId: ACCOUNT_ID });

            const inboxId = 12345;
            const messageId = 67890;

            const result = await client.testing.messages.deleteMessage(inboxId, messageId);

            console.log(result);
        - lang: php
          label: PHP
          source: |
            <?php
            use Mailtrap\Config;
            use Mailtrap\MailtrapSandboxClient;

            $config = new Config($_ENV['MAILTRAP_API_KEY']);
            $accountId = $_ENV['MAILTRAP_ACCOUNT_ID'];
            $inboxId = $_ENV['MAILTRAP_INBOX_ID'];

            $sandboxMessages = (new MailtrapSandboxClient($config))
                ->messages($accountId, $inboxId);

            $messageId = $_ENV['MAILTRAP_MESSAGE_ID'];
            $response = $sandboxMessages->delete($messageId);

            var_dump($response->getStatusCode());
        - lang: python
          label: Python
          source: |
            import mailtrap as mt

            API_TOKEN = "YOUR_API_KEY"
            ACCOUNT_ID = "YOUR_ACCOUNT_ID"

            client = mt.MailtrapClient(token=API_TOKEN, account_id=ACCOUNT_ID)
            messages_api = client.testing_api.messages

            inbox_id = 12345
            message_id = 67890

            result = messages_api.delete(inbox_id=inbox_id, message_id=message_id)

            print(result)
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;

            using var mailtrapFactory = new MailtrapClientFactory("YOUR_API_KEY");
            var client = mailtrapFactory.CreateClient();
            var inboxId = 54321;
            var messageId = 67890;
            var deletedMessage = await client
              .Account(YOUR_ACCOUNT_ID)
              .Inbox(inboxId)
              .Message(messageId)
              .Delete();

            Console.WriteLine(deletedMessage);
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;

            var config = new MailtrapConfig.Builder()
                .token("YOUR_API_KEY")
                .build();

            var client = MailtrapClientFactory
                .createMailtrapClient(config);

            long inboxId = 12345L;
            long messageId = 67890L;

            var deletedMessage = client.testingApi().messages()
                .deleteMessage(accountId, inboxId, messageId);

            System.out.println(deletedMessage);
      operationId: deleteInboxEmailMessage
    parameters:
      - $ref: '#/components/parameters/account_id'
      - $ref: '#/components/parameters/inbox_id'
      - $ref: '#/components/parameters/message_id'
  '/api/accounts/{account_id}/inboxes/{inbox_id}/messages':
    get:
      summary: Get messages
      description: Get all messages in the inbox. The response contains up to 30 messages. Use `last_id` or `page` to retrieve more.
      tags:
        - Messages
      responses:
        '200':
          description: lists messages
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    inbox_id:
                      type: integer
                    subject:
                      type: string
                    sent_at:
                      type: string
                    from_email:
                      type: string
                    from_name:
                      type: string
                    to_email:
                      type: string
                    to_name:
                      type: string
                    email_size:
                      type: integer
                    is_read:
                      type: boolean
                    created_at:
                      type: string
                    updated_at:
                      type: string
                    html_body_size:
                      type: integer
                    text_body_size:
                      type: integer
                    human_size:
                      type: string
                    html_path:
                      type: string
                    txt_path:
                      type: string
                    raw_path:
                      type: string
                    download_path:
                      type: string
                    html_source_path:
                      type: string
                    blacklists_report_info:
                      type: boolean
                    smtp_information:
                      type: object
                      properties:
                        ok:
                          type: boolean
                        data:
                          type: object
                          properties:
                            mail_from_addr:
                              type: string
                            client_ip:
                              type: string
              example:
                - id: 92
                  inbox_id: 342
                  subject: Test email
                  sent_at: '2022-08-19T11:34:33.839Z'
                  from_email: per667son25@feeney.biz
                  from_name: Ela Marks
                  to_email: per688son26@donnelly.info
                  to_name: Edmund Maggio
                  email_size: 300
                  is_read: false
                  created_at: '2022-08-19T11:34:33.841Z'
                  updated_at: '2022-08-19T11:34:33.841Z'
                  html_body_size: 150
                  text_body_size: 100
                  human_size: 300 Bytes
                  html_path: /api/accounts/336/inboxes/342/messages/92/body.html
                  txt_path: /api/accounts/336/inboxes/342/messages/92/body.txt
                  raw_path: /api/accounts/336/inboxes/342/messages/92/body.raw
                  download_path: /api/accounts/336/inboxes/342/messages/92/body.eml
                  html_source_path: /api/accounts/336/inboxes/342/messages/92/body.htmlsource
                  blacklists_report_info: false
                  smtp_information:
                    ok: true
                    data:
                      mail_from_addr: per667son25@feeney.biz
                      client_ip: 75.180.183.201
        '401':
          $ref: '#/components/responses/UNAUTHENTICATED'
        '403':
          description: Returns forbidden error message. Check your permissions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: string
                    example: Inbox is not active or you have insufficient permissions
      operationId: getInboxEmailMessage
      x-codeSamples:
        - lang: javascript
          label: Node.js
          source: |
[...]
