openapi: 3.1.0
info:
  title: Templates
  version: 2.0.0
  description: Create and manage reusable email templates with dynamic content.
  contact:
    name: Mailtrap Support
    url: 'https://docs.mailtrap.io'
    email: support@mailtrap.io
  license:
    name: Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)
    url: 'https://creativecommons.org/licenses/by-sa/4.0/'
  x-logo:
    url: 'https://mailtrap.io/wp-content/uploads/2021/04/mailtrap-logo.svg'

servers:
  - description: Mailtrap API
    url: 'https://mailtrap.io'

security:
  - HeaderAuth: []
  - BearerAuth: []

tags:
  - name: templates
    x-page-title: Templates
    x-page-description: Manage email templates
    description: Create and manage reusable email templates with dynamic content.

paths:
  /api/email_templates:
    get:
      description: Get all email templates existing in your account
      operationId: emailTemplates
      summary: Get all Email Templates
      tags:
        - templates
      x-codeSamples:
        - lang: shell
          label: 'cURL'
          source: |
            curl -X GET "https://mailtrap.io/api/email_templates" \
              -H "Api-Token: YOUR_API_KEY"
        - lang: javascript
          label: Node.js
          source: |
            const { MailtrapClient } = require("mailtrap");
            const client = new MailtrapClient({ token: "YOUR_API_KEY", accountId: YOUR_ACCOUNT_ID });
            
            async function getTemplates() {
              const templates = await client.templates.getList();

              console.log("Templates:", templates);
            }

            getTemplates();
        - lang: php
          label: PHP
          source: |
            <?php

            use Mailtrap\Config;
            use Mailtrap\Helper\ResponseHelper;
            use Mailtrap\MailtrapGeneralClient;

            $config = new Config($_ENV['MAILTRAP_API_KEY']);
            $accountId = $_ENV['MAILTRAP_ACCOUNT_ID'];

            $emailTemplates = (new MailtrapGeneralClient($config))
                ->emailTemplates($accountId);

            $response = $emailTemplates->getAllEmailTemplates();
            var_dump(ResponseHelper::toArray($response));
        - lang: python
          label: Python
          source: |
            import mailtrap as mt
            client = mt.MailtrapClient(token="YOUR_API_KEY", account_id="YOUR_ACCOUNT_ID")
            templates = client.email_templates_api.templates.get_list()
            for tpl in templates:
                print(f"{tpl.name}: {tpl.uuid}")
        - lang: ruby
          label: Ruby
          source: |
            require 'mailtrap'
            client = Mailtrap::Client.new(api_key: 'YOUR_API_KEY')
            templates = Mailtrap::EmailTemplatesAPI.new(YOUR_ACCOUNT_ID, client)
            puts templates.list
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;
            using var mailtrapFactory = new MailtrapClientFactory("YOUR_API_KEY");
            var client = mailtrapFactory.CreateClient();
            var templates = await client.Account(YOUR_ACCOUNT_ID).EmailTemplates().GetAll();
            foreach (var template in templates)
            {
                Console.WriteLine($"Template: {template.Name}, ID: {template.Uuid}");
            }
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;
            
            var config = new MailtrapConfig.Builder().token("YOUR_API_KEY").build();
            var client = MailtrapClientFactory.createMailtrapClient(config);
            
            var response = client.emailTemplatesApi().emailTemplates().getAllTemplates(accountId);
        - lang: go
          label: Go
          source: |
            package main

            import (
            	"context"
            	"fmt"
            	"log"
            	"os"

            	"github.com/mailtrap/mailtrap-go"
            )

            func main() {
            	client, err := mailtrap.NewClient(os.Getenv("MAILTRAP_API_TOKEN"))
            	if err != nil {
            		log.Fatal(err)
            	}

            	templates, _, err := client.EmailTemplates.List(context.Background())
            	if err != nil {
            		log.Fatal(err)
            	}

            	for _, template := range templates {
            		fmt.Printf("%d %s (%s)\n", template.ID, template.Name, template.Category)
            	}
            }
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EmailTemplateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      description: Create a new email template
      operationId: createEmailTemplate
      summary: Create Email Template
      tags:
        - templates
      x-codeSamples:
        - lang: shell
          label: 'cURL'
          source: |
            curl -X POST "https://mailtrap.io/api/email_templates" \
              -H "Api-Token: YOUR_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "email_template": {
                  "name": "Welcome Email",
                  "subject": "Welcome to {{company_name}}!",
                  "category": "onboarding",
                  "body_html": "<h1>Welcome {{user_name}}!</h1>",
                  "body_text": "Welcome {{user_name}}!"
                }
              }'
        - lang: javascript
          label: Node.js
          source: |
            import { MailtrapClient } from "mailtrap";
            const client = new MailtrapClient({ token: "YOUR_API_KEY" });
            
            async function createTemplate() {
              const template = await client.templates.create({
                name: "Welcome Email",
                subject: "Welcome to {{company_name}}!",
                category: "onboarding",
                body_html: "<h1>Welcome {{user_name}}!</h1>",
                body_text: "Welcome {{user_name}}!"
              });
              console.log(`Template created: ${template.uuid}`);
            }

            createTemplate();
        - lang: php
          label: PHP
          source: |
            <?php
            use Mailtrap\Config;
            use Mailtrap\DTO\Request\EmailTemplate;
            use Mailtrap\Helper\ResponseHelper;
            use Mailtrap\MailtrapGeneralClient;

            $config = new Config($_ENV['MAILTRAP_API_KEY']);
            $accountId = $_ENV['MAILTRAP_ACCOUNT_ID'];

            $emailTemplates = (new MailtrapGeneralClient($config))
                ->emailTemplates($accountId);

            $response = $emailTemplates->createEmailTemplate(
                EmailTemplate::init(
                    'Welcome Email',
                    'Welcome to {{company_name}}!',
                    'onboarding',
                    'Welcome {{user_name}}!',
                    '<h1>Welcome {{user_name}}!</h1>'
                )
            );
            var_dump(ResponseHelper::toArray($response));
        - lang: python
          label: Python
          source: |
            import mailtrap as mt
            client = mt.MailtrapClient(token="YOUR_API_KEY", account_id="YOUR_ACCOUNT_ID")
            template = client.email_templates_api.templates.create(
                mt.CreateEmailTemplateParams(
                    name="Welcome Email",
                    subject="Welcome to {{company_name}}!",
                    category="onboarding",
                    body_html="<h1>Welcome {{user_name}}!</h1>",
                    body_text="Welcome {{user_name}}!"
                )
            )
        - lang: ruby
          label: Ruby
          source: |
            require 'mailtrap'
            client = Mailtrap::Client.new(api_key: 'YOUR_API_KEY')
            templates = Mailtrap::EmailTemplatesAPI.new(YOUR_ACCOUNT_ID, client)
            template = templates.create(
              name: 'Welcome Email',
              subject: 'Welcome to {{company_name}}!',
              category: 'onboarding',
              body_html: '<h1>Welcome {{user_name}}!</h1>',
              body_text: 'Welcome {{user_name}}!'
            )
            puts "Template: #{template}"
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;
            using Mailtrap.EmailTemplates.Requests;

            using var mailtrapFactory = new MailtrapClientFactory("YOUR_API_KEY");
            var client = mailtrapFactory.CreateClient();

            var request = new CreateEmailTemplateRequest(
                "Welcome Email", // Name
                "onboarding", // Category
                "Welcome to {{company_name}}!") // Subject
            {
                BodyHtml = "<h1>Welcome {{user_name}}!</h1>",
                BodyText = "Welcome {{user_name}}!"
            };
            var template = await client.Account(YOUR_ACCOUNT_ID).EmailTemplates().Create(request);
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;
            
            var config = new MailtrapConfig.Builder().token("YOUR_API_KEY").build();
            var client = MailtrapClientFactory.createMailtrapClient(config);
            
            var request = new CreateEmailTemplateRequest(
            new EmailTemplate(
            "Welcome Email", "onboarding", "Welcome to {{company_name}}!",
            "Welcome {{user_name}}!", "<h1>Welcome {{user_name}}!</h1>")
            );
            var template = client.emailTemplatesApi().emailTemplates().createEmailTemplate(accountId, request);
        - lang: go
          label: Go
          source: |
            package main

            import (
            	"context"
            	"fmt"
            	"log"
            	"os"

            	"github.com/mailtrap/mailtrap-go"
            )

            func main() {
            	client, err := mailtrap.NewClient(os.Getenv("MAILTRAP_API_TOKEN"))
            	if err != nil {
            		log.Fatal(err)
            	}

            	template, _, err := client.EmailTemplates.Create(context.Background(), &mailtrap.EmailTemplateRequest{
            		Name:     "Welcome email",
            		Category: "Onboarding",
            		Subject:  "Welcome to Mailtrap",
            		BodyHTML: "<h1>Welcome, {{name}}!</h1>",
            		BodyText: "Welcome, {{name}}!",
            	})
            	if err != nil {
            		log.Fatal(err)
            	}

            	fmt.Printf("created template %d (uuid %s)\n", template.ID, template.UUID)
            }
        - lang: hcl
          label: OpenTofu
          source: |
            # tofu apply creates the template: POST /api/email_templates
            terraform {
              required_providers {
                mailtrap = {
                  source = "mailtrap/mailtrap"
                }
              }
            }

            # The token is read from the MAILTRAP_API_TOKEN environment variable.
            provider "mailtrap" {}

            resource "mailtrap_email_template" "welcome" {
              name      = "Welcome email"
              category  = "Onboarding"
              subject   = "Welcome to Mailtrap"
              body_html = "<h1>Welcome, {{name}}!</h1>"
              body_text = "Welcome, {{name}}!"
            }
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailTemplateRequest'
      responses:
        '201':
          description: Email template created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTemplateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /api/email_templates/{email_template_id}:
    get:
      description: Get an email template by ID
      operationId: getEmailTemplate
      summary: Get Email Template
      tags:
        - templates
      x-codeSamples:
        - lang: shell
          label: 'cURL'
          source: |
            curl -X GET "https://mailtrap.io/api/email_templates/{email_template_id}" \
              -H "Api-Token: YOUR_API_KEY"
        - lang: javascript
          label: Node.js
          source: |
            const { MailtrapClient } = require("mailtrap");
            const client = new MailtrapClient({ token: "YOUR_API_KEY", accountId: YOUR_ACCOUNT_ID });
            
            async function getTemplate() {
              const templateId = 12345;
              const template = await client.templates.get(templateId);

              console.log(`Template: ${template.name} (UUID: ${template.uuid})`);
            }

            getTemplate();
        - lang: php
          label: PHP
          source: |
            <?php
            use Mailtrap\Config;
            use Mailtrap\Helper\ResponseHelper;
            use Mailtrap\MailtrapGeneralClient;

            $config = new Config($_ENV['MAILTRAP_API_KEY']);
            $accountId = $_ENV['MAILTRAP_ACCOUNT_ID'];

            $emailTemplates = (new MailtrapGeneralClient($config))
                ->emailTemplates($accountId);

            $templateId = $_ENV['MAILTRAP_TEMPLATE_ID'];
            $response = $emailTemplates->getEmailTemplate($templateId);
            var_dump(ResponseHelper::toArray($response));
        - lang: python
          label: Python
          source: |
            import mailtrap as mt

            client = mt.MailtrapClient(token="YOUR_API_KEY", account_id="YOUR_ACCOUNT_ID")

            template_id = 12345
            template = client.email_templates_api.templates.get_by_id(template_id)
            print(f"Template: {template.name} (ID: {template.id})")
        - lang: ruby
          label: Ruby
          source: |
            require 'mailtrap'

            client = Mailtrap::Client.new(api_key: 'YOUR_API_KEY')
            templates = Mailtrap::EmailTemplatesAPI.new(
              YOUR_ACCOUNT_ID,
              client
            )
            template = templates.get(template_id)
            puts "Template: #{template}"
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;

            using var mailtrapFactory = new MailtrapClientFactory("YOUR_API_KEY");
            var client = mailtrapFactory.CreateClient();

            var accountId = 1000001;
            var templateId = 12345;
            var template = await client.Account(accountId).EmailTemplate(templateId).GetDetails();
            Console.WriteLine(template.Name);
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;

            var config = new MailtrapConfig.Builder().token("YOUR_API_KEY").build();
            var client = MailtrapClientFactory.createMailtrapClient(config);

            long accountId = 1000001L;
            long templateId = 12345L;
            var template = client.emailTemplatesApi().emailTemplates()
                .getEmailTemplate(accountId, templateId);
            System.out.println(template);
        - lang: go
          label: Go
          source: |
            package main

            import (
            	"context"
            	"fmt"
            	"log"
            	"os"

            	"github.com/mailtrap/mailtrap-go"
            )

            func main() {
            	client, err := mailtrap.NewClient(os.Getenv("MAILTRAP_API_TOKEN"))
            	if err != nil {
            		log.Fatal(err)
            	}

            	template, _, err := client.EmailTemplates.Get(context.Background(), 1000001)
            	if err != nil {
            		log.Fatal(err)
            	}

            	fmt.Printf("%s: %s\n", template.Name, template.Subject)
            }
        - lang: hcl
          label: OpenTofu
          source: |
            # tofu plan refreshes the resource, and tofu import mailtrap_email_template.welcome 1000001
            # adopts an existing one: GET /api/email_templates/{email_template_id}
            terraform {
              required_providers {
                mailtrap = {
                  source = "mailtrap/mailtrap"
                }
              }
            }

            # The token is read from the MAILTRAP_API_TOKEN environment variable.
            provider "mailtrap" {}

            resource "mailtrap_email_template" "welcome" {
              name     = "Welcome email"
              category = "Onboarding"
              subject  = "Welcome to Mailtrap"
            }
      responses:
        '200':
          description: Returns attributes of the email template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTemplateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      description: Update an email template
      operationId: updateEmailTemplate
      summary: Update Email Template
      tags:
        - templates
      x-codeSamples:
        - lang: shell
          label: 'cURL'
          source: |
            curl -X PATCH "https://mailtrap.io/api/email_templates/{email_template_id}" \
              -H "Api-Token: YOUR_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "email_template": {
                  "name": "Updated Template",
                  "subject": "New Subject"
                }
              }'
        - lang: javascript
          label: Node.js
          source: |
            const { MailtrapClient } = require("mailtrap");
            const client = new MailtrapClient({ token: "YOUR_API_KEY", accountId: YOUR_ACCOUNT_ID });
            
            async function updateTemplate() {
              const templateId = 12345;
              const template = await client.templates.update(templateId, { name: "Updated Template", subject: "New Subject" });

              console.log(`Template updated: ${template.name} (UUID: ${template.uuid})`);
            }

            updateTemplate();
        - lang: php
          label: PHP
          source: |
            <?php
            use Mailtrap\Config;
            use Mailtrap\DTO\Request\EmailTemplate;
            use Mailtrap\Helper\ResponseHelper;
            use Mailtrap\MailtrapGeneralClient;

            $config = new Config($_ENV['MAILTRAP_API_KEY']);
            $accountId = $_ENV['MAILTRAP_ACCOUNT_ID'];

            $emailTemplates = (new MailtrapGeneralClient($config))
                ->emailTemplates($accountId);

            $templateId = $_ENV['MAILTRAP_TEMPLATE_ID'];
            $response = $emailTemplates->updateEmailTemplate(
                $templateId,
                EmailTemplate::init(
                    'Updated Welcome Email',
                    'Updated Subject',
                    'Transactional',
                    'Updated Text Body',
                    '<div>Updated HTML Body</div>'
                )
            );
            var_dump(ResponseHelper::toArray($response));
        - lang: python
          label: Python
          source: |
            import mailtrap as mt

            email_template_id = "YOUR_TEMPLATE_ID"

            client = mt.MailtrapClient(token="YOUR_API_KEY", account_id="YOUR_ACCOUNT_ID")
            template = client.email_templates_api.templates.update(
                template_id=email_template_id,
                template_params=mt.UpdateEmailTemplateParams(
                    name="Edited Welcome Email",
                    subject="Edited Welcome to {{company_name}}!",
                    category="onboarding",
                    body_html="<h1>Edited Welcome {{user_name}}!</h1>",
                    body_text="Edited Welcome {{user_name}}!"
                )
            )
        - lang: ruby
          label: Ruby
          source: |
            require 'mailtrap'

            client = Mailtrap::Client.new(api_key: 'YOUR_API_KEY')
            templates = Mailtrap::EmailTemplatesAPI.new(
              YOUR_ACCOUNT_ID,
              client
            )
            templates.update(EMAIL_TEMPLATE_ID, name: 'Welcome Updated')
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;
            using Mailtrap.EmailTemplates.Requests;

            using var mailtrapFactory = new MailtrapClientFactory("YOUR_API_KEY");
            var client = mailtrapFactory.CreateClient();

            var accountId = 1000001;
            var templateId = 12345;
            var request = new UpdateEmailTemplateRequest("Updated Welcome Email", "Transactional", "Updated Subject")
            {
                BodyHtml = "<div>Updated HTML Body</div>",
                BodyText = "Updated Text Body",
            };
            var template = await client.Account(accountId).EmailTemplate(templateId).Update(request);
            Console.WriteLine(template.Name);
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;
            import io.mailtrap.model.request.emailtemplates.EmailTemplate;
            import io.mailtrap.model.request.emailtemplates.UpdateEmailTemplateRequest;

            var config = new MailtrapConfig.Builder().token("YOUR_API_KEY").build();
            var client = MailtrapClientFactory.createMailtrapClient(config);

            long accountId = 1000001L;
            long templateId = 12345L;
            var request = new UpdateEmailTemplateRequest(
                new EmailTemplate("Updated Welcome Email", "Transactional", "Updated Subject",
                    "Updated Text Body", "<div>Updated HTML Body</div>"));
            var template = client.emailTemplatesApi().emailTemplates()
                .updateEmailTemplate(accountId, templateId, request);
            System.out.println(template);
        - lang: go
          label: Go
          source: |
            package main

            import (
            	"context"
            	"fmt"
            	"log"
            	"os"

            	"github.com/mailtrap/mailtrap-go"
            )

            func main() {
            	client, err := mailtrap.NewClient(os.Getenv("MAILTRAP_API_TOKEN"))
            	if err != nil {
            		log.Fatal(err)
            	}

            	// Only the fields you set are changed. A body that has been set cannot be
            	// cleared, only replaced.
            	template, _, err := client.EmailTemplates.Update(context.Background(), 1000001, &mailtrap.EmailTemplateRequest{
            		Subject:  "Welcome aboard",
            		BodyHTML: "<h1>Welcome aboard, {{name}}!</h1>",
            	})
            	if err != nil {
            		log.Fatal(err)
            	}

            	fmt.Printf("updated template %d: %s\n", template.ID, template.Subject)
            }
        - lang: hcl
          label: OpenTofu
          source: |
            # changing a tracked attribute and running tofu apply: PATCH /api/email_templates/{email_template_id}
            terraform {
              required_providers {
                mailtrap = {
                  source = "mailtrap/mailtrap"
                }
              }
            }

            # The token is read from the MAILTRAP_API_TOKEN environment variable.
            provider "mailtrap" {}

            # The API cannot clear body_html or body_text once set: a body can only be
            # replaced, so removing the argument leaves the stored value in place.
            resource "mailtrap_email_template" "welcome" {
              name      = "Welcome email"
              category  = "Onboarding"
              subject   = "Welcome aboard"
              body_html = "<h1>Welcome aboard, {{name}}!</h1>"
            }
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailTemplateRequest'
      responses:
        '200':
          description: Email template updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTemplateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      description: Delete an email template
      operationId: deleteEmailTemplate
      summary: Delete Email Template
      tags:
        - templates
      x-codeSamples:
        - lang: shell
          label: 'cURL'
          source: |
            curl -X DELETE "https://mailtrap.io/api/email_templates/{email_template_id}" \
              -H "Api-Token: YOUR_API_KEY"
        - lang: javascript
          label: Node.js
          source: |
            const { MailtrapClient } = require("mailtrap");
            const client = new MailtrapClient({ token: "YOUR_API_KEY", accountId: YOUR_ACCOUNT_ID });
            
            async function deleteTemplate() {
              const templateId = 12345;
              await client.templates.delete(templateId);

              console.log("Template deleted successfully");
            }

            deleteTemplate();
        - lang: php
          label: PHP
          source: |
            <?php
            use Mailtrap\Config;
            use Mailtrap\MailtrapGeneralClient;

            $config = new Config($_ENV['MAILTRAP_API_KEY']);
            $accountId = $_ENV['MAILTRAP_ACCOUNT_ID'];

            $emailTemplates = (new MailtrapGeneralClient($config))
                ->emailTemplates($accountId);

            $templateId = $_ENV['MAILTRAP_TEMPLATE_ID'];
            $response = $emailTemplates->deleteEmailTemplate($templateId);
            var_dump($response->getStatusCode());
        - lang: python
          label: Python
          source: |
            import mailtrap as mt

            email_template_id = "YOUR_TEMPLATE_ID"

            client = mt.MailtrapClient(token="YOUR_API_KEY", account_id="YOUR_ACCOUNT_ID")
            deleted_template = client.email_templates_api.templates.delete(
              template_id=email_template_id
            )
        - lang: ruby
          label: Ruby
          source: |
            require 'mailtrap'

            client = Mailtrap::Client.new(api_key: 'YOUR_API_KEY')
            templates = Mailtrap::EmailTemplatesAPI.new(
              YOUR_ACCOUNT_ID,
              client
            )
            templates.delete(EMAIL_TEMPLATE_ID)
        - lang: csharp
          label: .NET
          source: |
            using Mailtrap;

            using var mailtrapFactory = new MailtrapClientFactory("YOUR_API_KEY");
            var client = mailtrapFactory.CreateClient();

            var accountId = 1000001;
            var templateId = 12345;
            await client.Account(accountId).EmailTemplate(templateId).Delete();
        - lang: java
          label: Java
          source: |
            import io.mailtrap.config.MailtrapConfig;
            import io.mailtrap.factory.MailtrapClientFactory;

            var config = new MailtrapConfig.Builder().token("YOUR_API_KEY").build();
            var client = MailtrapClientFactory.createMailtrapClient(config);

            long accountId = 1000001L;
            long templateId = 12345L;
            client.emailTemplatesApi().emailTemplates().deleteEmailTemplate(accountId, templateId);
        - lang: go
          label: Go
          source: |
            package main

            import (
            	"context"
            	"fmt"
            	"log"
            	"os"

            	"github.com/mailtrap/mailtrap-go"
            )

            func main() {
            	client, err := mailtrap.NewClient(os.Getenv("MAILTRAP_API_TOKEN"))
            	if err != nil {
            		log.Fatal(err)
            	}

            	if _, err := client.EmailTemplates.Delete(context.Background(), 1000001); err != nil {
            		log.Fatal(err)
            	}

            	fmt.Println("template deleted")
            }
        - lang: hcl
          label: OpenTofu
          source: |
            # tofu destroy, or removing this block and running tofu apply:
            # DELETE /api/email_templates/{email_template_id}
            terraform {
              required_providers {
                mailtrap = {
                  source = "mailtrap/mailtrap"
                }
              }
            }

            # The token is read from the MAILTRAP_API_TOKEN environment variable.
            provider "mailtrap" {}

            resource "mailtrap_email_template" "welcome" {
              name     = "Welcome email"
              category = "Onboarding"
              subject  = "Welcome to Mailtrap"
            }
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    parameters:
      - $ref: '#/components/parameters/email_template_id'

components:
  securitySchemes:
    HeaderAuth:
      type: apiKey
      description: API token in Api-Token header
      in: header
      name: Api-Token
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token authentication

  parameters:
    email_template_id:
      name: email_template_id
      in: path
      required: true
      description: Email template ID
      schema:
        type: integer
        format: int64
        example: 60927

  schemas:
    UnprocessableEntity:
      type: object
      properties:
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
      example:
        errors:
          category:
            - can't be blank
          subject:
            - can't be blank

    UnauthenticatedResponse:
      title: UnauthenticatedResponse
      type: object
      properties:
        error:
          type: string
          description: Error message
          example: Incorrect API token
      example:
        error: Incorrect API token

    PermissionsDeniedResponse:
      title: PermissionsDeniedResponse
      type: object
      properties:
        errors:
          type: string
          example: Account access forbidden
      example:
        errors: Account access forbidden

    NotFoundResponse:
      title: NotFoundResponse
      type: object
      properties:
        error:
          type: string
          description: Error message
          example: Not Found
      example:
        error: Not Found

    EmailTemplateRequest:
      title: EmailTemplateRequest
      type: object
      required:
        - email_template
      properties:
        email_template:
          type: object
          required:
            - name
            - subject
            - category
          properties:
            name:
              type: string
              maxLength: 255
            category:
              type: string
              maxLength: 255
            subject:
              type: string
              maxLength: 255
            body_text:
              type: string
              maxLength: 10000000
            body_html:
              type: string
              maxLength: 10000000
      example:
        email_template:
          name: My Email Template
          subject: Promotional Email
          category: Promotional
          body_html: <div>Template Body</div>
          body_text: Template Body

    EmailTemplateResponse:
      title: EmailTemplateResponse
      type: object
      properties:
        id:
          type: integer
        uuid:
          type: string
          format: uuid
        name:
          type: string
          maxLength: 255
        category:
          type: string
          maxLength: 255
        subject:
          type: string
          maxLength: 255
        body_text:
          type: string
          maxLength: 10000000
        body_html:
          type: string
          maxLength: 10000000
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      example:
        id: 26730
        uuid: '018dd5e3-f6d2-7c00-8f9b-e5c3f2d8a132'
        name: My Email Template
        subject: Promotional Email
        category: Promotional
        body_html: <div>Template Body</div>
        body_text: Template Body
        created_at: '2021-01-01T00:00:00Z'
        updated_at: '2021-01-01T00:00:00Z'

  responses:
    Unauthorized:
      description: Returns unauthorized error message. Check your credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnauthenticatedResponse'
          example:
            error: Incorrect API token

    Forbidden:
      description: Returns forbidden error message. Check your permissions.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PermissionsDeniedResponse'
          example:
            errors: Account access forbidden

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotFoundResponse'
          example:
            error: Not Found

    UnprocessableEntity:
      description: Validation errors
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnprocessableEntity'
          example:
            errors:
              category:
                - can't be blank
              subject:
                - can't be blank
